<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsy.community.mapper.PeopleTrackMapper">


    <select id="listPeopleTrack" resultType="com.jsy.community.entity.PeopleTrackEntity">
        select id,community_id,people_name,auth_img,capture,auth_type,facility_number,facility_name,facility_address,create_time
        from t_people_track
        <where>
            <if test="qo.query.peopleName!=null and qo.query.peopleName!=''">
                people_name like concat ("%",#{qo.query.peopleName},"%")
            </if>
            <if test="qo.query.searchText!=null and qo.query.searchText!=''">
                and facility_number like concat("%",#{qo.query.searchText},"%") or facility_name like concat("%",#{qo.query.searchText},"%") or facility_address like concat("%",#{qo.query.searchText},"%")
            </if>
            <if test="qo.query.authType!=null">
                and auth_type = #{qo.query.authType}
            </if>
            <if test="qo.query.startTime!=null and qo.query.endTime!=null">
                and create_time between #{qo.query.startTime} and #{qo.query.endTime}
            </if>
            <if test="qo.query.startTime!=null and qo.query.endTime==null">
                and create_time &gt; #{qo.query.startTime}
            </if>
            <if test="qo.query.startTime==null and qo.query.endTime!=null">
                and create_time &lt; #{qo.query.endTime}
            </if>
            and community_id = #{qo.query.communityId} and deleted = 0
        </where>
        order by create_time desc
    </select>

</mapper>
