<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jsy.community.mapper.UnionPayWalletMapper">
    <!-- 根据钱包ID更新手机号码 -->
    <update id="updateMobileNoByWalletId">
        update t_user_union_pay_wallet set mobile_no = #{mobileNo} where wallet_id = #{walletId}
    </update>
</mapper>