<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsy.community.mapper.AppMenuMapper">


    <select id="selectMenuIdByCommunityId" resultType="long">
        select menu_id from t_menu_community where community_id = #{communityId} order by sort asc limit #{count}
    </select>


    <select id="getMenuIdByCommunityId" resultType="long">
        SELECT menu_id
        FROM t_menu_community
        where community_id = #{communityId}
    </select>

</mapper>
