<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jsy.community.mapper.CarMapper">
    <!-- 批量新增车辆 -->
    <insert id="addProprietorCarForList" parameterType="java.util.List">
        insert into t_car(id,uid,community_id,car_plate,car_type,driving_license_url,create_time)
        values
        <foreach collection="cars" item="item" separator=",">
            (${@com.jsy.community.utils.SnowFlake@nextId()},#{uid},#{item.communityId},#{item.carPlate},#{item.carType},#{item.drivingLicenseUrl},now())
        </foreach>
    </insert>
    <!-- 通过车辆id 和 用户id更新用户车辆 -->
    <update id="update">
        update t_car
        <set>
            driving_license_url = #{c.drivingLicenseUrl},
            car_plate = #{c.carPlate},
            car_type = #{c.carType},
            check_status = 0,
            update_time = now(),
        </set>
        <where>
            uid = #{uid} and id = #{c.id} and deleted = 0
        </where>
    </update>
</mapper>