<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jsy.community.mapper.CarMapper">
    <!-- 批量新增车辆 -->
    <insert id="addProprietorCarForList" parameterType="java.util.List">
        insert into t_car(id,uid,car_plate,car_type,driving_license_url,create_time)
        values
        <foreach collection="cars" item="item" separator=",">
            (#{item.id},#{uid},#{item.carPlate},#{item.carType},#{item.drivingLicenseUrl},now())
        </foreach>
    </insert>
    <!-- 通过车辆id 和 用户id更新用户车辆 -->
    <update id="update">
        update t_car
        <set>
            driving_license_url = #{c.drivingLicenseUrl},
            car_plate = #{c.carPlate},
            car_type = #{c.carType},
            check_status = 0,
            update_time = now(),
        </set>
        <where>
            uid = #{uid} and id = #{c.id} and deleted = 0
        </where>
    </update>
    <select id="getTemporaryOrder" resultType="com.jsy.community.entity.CarOrderEntity">
        SELECT
          co.*
        FROM
          t_car_order co
          RIGHT JOIN t_visitor tv ON tv.car_plate = co.car_plate
        WHERE
          tv.community_id = #{communityId}
          AND tv.uid = #{uid}
          AND tv.car_plate IS NOT NULL
          AND tv.car_alternative_payment_status = 1
          AND co.community_id = 1
          AND co.begin_time BETWEEN tv.start_time
          AND tv.end_time
          AND co.order_status = 0
          AND co.type = 1
    </select>
</mapper>