<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jsy.community.mapper.CommunityInformMapper">
    <!-- 社区消息更新 -->
    <update id="com.jsy.community.mapper.CommunityInformMapper.updateCommunityInform">
        update t_community_inform set
        <trim prefixOverrides=",">
            <if test="state != null">
                ,state = #{state}
            </if>
            <if test="title != null">
                ,title = #{title}
            </if>
            <if test="subTitle != null">
                ,sub_title = #{subTitle}
            </if>
            <if test="content != null">
                ,content = #{content}
            </if>
            <if test="enabled != null">
                ,enabled = #{enabled}
            </if>
        </trim>
        where deleted = 0 and id = #{id}
    </update>

    <!-- 社区主页 轮播消息获取 -->
    <select id="rotationCommunityInform" resultType="com.jsy.community.entity.CommunityInformEntity">
        select title,create_time,state from t_community_inform where community_id = #{communityId} and enabled = 1 ORDER BY create_time desc limit #{initialInformCount}
    </select>


</mapper>