<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jsy.community.mapper.CommonMapper">
    <!-- 通用sql -->
    <sql id="tableNameAndCondition">from t_house where</sql>
    <!-- 【社区查询】查询所有小区 queryType = 1 -->
    <select id="getAllCommunityFormCityId" parameterType="java.lang.Integer" resultType="java.util.HashMap">
        select id,name,house_level_mode as houseLevelMode from t_community where city_id = #{id} limit #{page},#{pageSize}
    </select>
    <!-- 【单元或者楼栋查询】根据社区id来查询下一级的数据 queryType = 2-->
    <select id="getBuildingOrUnitByCommunityId" parameterType="java.lang.Integer" resultType="java.util.HashMap">
        select id,
             <!-- 当房屋级别  =1 或者 =3 该社区 就是楼栋单元 或者 单楼栋 则查询楼栋 type = 1 -->
            <if test="houseLevelMode == 1 or houseLevelMode == 3">
                 building <include refid="tableNameAndCondition"/> community_id = #{id} and type = 1
            </if>
             <!-- 当房屋级别  = 2 或者 =4 该社区 就是单元楼栋 或者 单单元 则查询单元 type = 2 -->
            <if test="houseLevelMode == 2 or houseLevelMode == 4">
                 unit <include refid="tableNameAndCondition"/> community_id = #{id} and type = 2
            </if>
    </select>
    <!-- 【变动的层级】 传单元 或者 楼栋 和 社区结构层次id 获取单元 或 楼栋 queryType = 3 -->
    <select id="getBuildingOrUnitById" parameterType="java.lang.Integer" resultType="java.util.HashMap">
        <choose>
            <!-- 楼栋单元层级 那就根据楼栋id 查单元 t_user_house  type = 2就表示该数据为单元 -->
            <when test="houseLevelMode == 1">
                select id,unit <include refid="tableNameAndCondition"/> pid = #{id} and type = 2
            </when>
            <!-- 单元楼栋层级 那就根据单元id 查楼栋 t_user_house  type = 1就表示该数据为楼栋 -->
            <when test="houseLevelMode == 2">
                select id,building <include refid="tableNameAndCondition"/> pid = #{id} and type = 1
            </when>
            <otherwise>
            </otherwise>
        </choose>
    </select>
    <!-- 按单元或楼栋id查询楼层 -->
    <select id="getFloorByBuildingOrUnitId" parameterType="java.lang.Integer" resultType="java.util.HashMap">
        select id,floor <include refid="tableNameAndCondition"/> pid = #{id} and type = 3
    </select>
    <!-- 查询某楼层#{id}下面的所有门牌 数据库类型 type = 4 门牌 queryType = 5  -->
    <select id="getAllDoorFormFloor" parameterType="java.lang.Integer" resultType="java.util.HashMap">
        select id,door <include refid="tableNameAndCondition"/> pid = #{id} and type = 4
    </select>
</mapper>