<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jsy.community.mapper.CommunityInformMapper">

	<!-- 社区主页 轮播消息获取(只获取当前小区) -->
	<select id="rotationCommunityInformSelf" resultType="com.jsy.community.entity.PushInformEntity">
        select push_title,create_time from t_push_inform where deleted = 0 and push_state=1 and acct_id = #{acctId} ORDER BY create_time desc limit #{initialCount}
    </select>

    <!-- 社区主页 轮播消息获取(获取当前小区和系统消息) -->
    <select id="rotationCommunityInform" resultType="com.jsy.community.entity.PushInformEntity">
        (select push_title,create_time from t_push_inform where deleted = 0 and push_state=1 and acct_id = #{acctId} ORDER BY create_time desc limit #{initialCount})
        union all
        (select push_title,create_time from t_push_inform where deleted = 0 and acct_id = 123456789101112 ORDER BY create_time desc limit #{initialCount})
    </select>

    <!--根据推送帐号id 和 uid 查询用户未读的推送消息id-->
    <select id="selectUnreadInformId" resultType="java.lang.Long">
        SELECT
	        i.id
        FROM
	        t_push_inform AS i
        WHERE
	    (
	    SELECT
		    COUNT( 1 )
	    FROM
		    t_user_inform AS u
	    WHERE
		    u.inform_id = i.id
		    AND u.uid = #{uid}
		    AND u.acct_id = #{acctId}
	    ) = 0
	    AND i.deleted = 0 and i.acct_id = #{acctId}
    </select>
	<!-- 标记当前用户 已读消息列表 -->
	<insert id="insertBatchReadInform">
		insert into t_user_inform(id,acct_id,inform_id,uid,create_time)
		values
		<foreach collection="ids" item="id" separator=",">
			(${@com.jsy.community.utils.SnowFlake@nextId()},#{acctId},#{id},#{uid},now())
		</foreach>
	</insert>
	<!-- 用户消息列表 左滑动删除 推送号 在t_acct_push_del 表插入一条记录， -->
	<insert id="insertClearRecord">
		insert into t_push_inform_del (id,acct_id,uid,create_time) values (#{id},#{acctId},#{uid},now())
	</insert>
</mapper>