<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.jsy.community.mapper.HouseMemberMapper">

	<!-- 根据ids批量查询 -->
	<select id="queryByIdsBatch" resultType="Map">
		select id,householder_id,community_id,house_id,name,sex,mobile,identification_type,id_card from t_house_member
		where id in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
        and person_type = 1 and deleted = 0
	</select>
	<insert id="saveBatch">
		insert into t_house_member (id,householder_id,community_id,house_id,name,mobile,relation,create_time)
		values
		<foreach collection="save" item="item" separator=",">
			(
			#{item.id},#{item.householderId},#{item.communityId},#{item.houseId},#{item.name},#{item.mobile},#{item.relation},now()
			)
		</foreach>
	</insert>
	<select id="selectLoginUser" resultType="com.jsy.community.vo.UserHouseVO">
        select thm.house_id,thm.name,thm.mobile,thm.relation,thm.community_id,tu.avatar_url
        from  t_house_member thm join t_user tu on thm.uid=tu.uid
        where thm.deleted=0 and tu.deleted=0 and thm.house_id = #{houseId} and thm.community_id = #{communityId} and thm.uid=#{uid} and thm.relation=#{relation}
    </select>
	<select id="selectRelation" resultType="com.jsy.community.vo.MembersVO">
        select thm.id,thm.name,thm.mobile,thm.relation,tu.avatar_url
        from  t_house_member thm join t_user tu on thm.uid=tu.uid
        where thm.deleted=0 and tu.deleted=0 and thm.house_id = #{houseId} and thm.community_id = #{communityId}
        <if test="relation!=0">
			and thm.relation=#{relation}
		</if>
    </select>
	<update id="updateByUid">
		update t_house_member set uid=#{uid} where mobile=#{mobile}
	</update>

</mapper>
