<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.jsy.community.mapper.HouseMemberMapper">

	<!-- 根据ids批量查询 -->
	<select id="queryByIdsBatch" resultType="Map">
		select id,householder_id,community_id,house_id,name,sex,mobile,identification_type,id_card from t_house_member
		where id in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
        and person_type = 1 and deleted = 0
	</select>
	<insert id="saveBatch">
		insert into t_house_member (id,householder_id,community_id,house_id,name,mobile,relation,create_time)
		values
		<foreach collection="save" item="item" separator=",">
			(
			#{item.id},#{item.householderId},#{item.communityId},#{item.houseId},#{item.name},#{item.mobile},#{item.relation},now()
			)
		</foreach>
	</insert>

</mapper>
