<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jsy.community.mapper.LivingPaymentMapper">
    <sql id="query">
        where tg.uid=#{userID}
            <if test="doorNo!=null and doorNo!=''">
                and t.family_id=#{doorNo}
            </if>
            <if test="payYear!=null and payYear>0">
                and t.pay_year=#{payYear}
            </if>
            <if test="payMonth!=null and payMonth>0">
                and t.pay_month=#{payMonth}
            </if>
    </sql>

    <select id="selectList" resultMap="DefaultHouseOwnerMap">
        SELECT distinct
        pg.name as groupName,
        po.family_id as doorNo,
        po.unit_id as payCompanyId,
        po.unit as payCompanyName,
        tt.icon as icon,
        tt.id as typeID,
        tt.name as typeName,
        po.create_time as timeStart
        FROM t_pay_order po
        join t_pay_type tt on po.payment_type=tt.id
        join t_pay_group pg on po.group_id=pg.id
        where pg.uid=#{userId} ORDER BY timeStart desc limit #{page},#{size}
    </select>


    <select id="selectOrder" resultMap="PaymentRecordsVOMAP">
        SELECT
        concat(t.pay_year,"年",t.pay_month,"月") as timeGroup,
        t.id as id,t.pay_year as payYear,t.pay_month as payMonth,t.order_num as orderNum,t.unit as unitName,
        t.family_id as doorNo,t.order_time as orderTime,t.payment_amount paySum,t.pay_type as payType,
        t.bill_classification as billClassification,t.label as label,t.remark as remark,t.remark_img as remarkImg,
        tpt.id as typeID,tpt.name as typeName,t.address as address,tpt.icon
        FROM t_pay_order t
        join t_pay_group tg on t.group_id=tg.id
        join t_pay_type tpt on t.payment_type=tpt.id
        <include refid="query"></include>
        ORDER BY t.order_time desc
    </select>
    <select id="selectGroup" resultMap="GroupVOMap">
        SELECT
        po.family_id as doorNo,pc.id as typeID,pc.name as typeName,pg.id as groupID,pg.name as groupName
        FROM t_pay_order po
        join t_pay_type tt on po.payment_type=tt.id
        join t_pay_group pg on po.group_id=pg.id
        JOIN t_pay_company pc on po.payment_type=pc.id
        where pg.uid=#{userID} and gp.name=#{groupName}
    </select>
    <select id="selectGroupAll" resultMap="GroupVOMap">
        SELECT
        ph.pay_number as doorNo,
		pc.id as typeID,
		pc.name as typeName,
        pt.id as payTypeID,
		pt.name as payTypeName
        FROM t_pay_house_owner ph
		JOIN t_pay_company pc on ph.pay_company=pc.id
		JOIN t_pay_type pt on ph.type=pt.id
        where ph.uid=#{userID}
    </select>

    <resultMap id="GroupVOMap" type="com.jsy.community.vo.GroupVO">
        <result property="typeName" column="typeName"/>
        <result property="typeID" column="typeID"/>
        <result property="groupName" column="groupName"/>
        <result property="doorNo" column="doorNo"/>
        <result property="groupID" column="groupID"/>
        <result property="payTypeID" column="payTypeID"/>
        <result property="payTypeName" column="payTypeName"/>
    </resultMap>

    <resultMap id="DefaultHouseOwnerMap" type="com.jsy.community.vo.DefaultHouseOwnerVO">
        <result property="groupId" column="groupId"/>
        <result property="groupName" column="groupName"/>
        <result property="doorNo" column="doorNo"/>
        <result property="payCompanyId" column="payCompanyId"/>
        <result property="payCompanyName" column="payCompanyName"/>
        <result property="typeID" column="typeID"/>
        <result property="typeName" column="typeName"/>
        <result property="icon" column="icon"/>
    </resultMap>

    <resultMap id="PaymentRecordsVOMAP" type="com.jsy.community.vo.PaymentRecordsVO">
        <result property="id" column="id"/>
        <result column="payYear" property="payYear"/>
        <result column="payMonth" property="payMonth"/>
        <result column="payType" property="payType"/>
        <result column="paySum" property="paySum"/>
        <result column="unitName" property="unitName"/>
        <result column="icon" property="icon"/>
        <result column="address" property="address"/>
        <result column="doorNo" property="doorNo"/>
        <result column="orderNum" property="orderNum"/>
        <result column="orderTime" property="orderTime"/>
        <result column="billClassification" property="billClassification"/>
        <result column="label" property="label"/>
        <result column="remark" property="remark"/>
        <result column="remarkImg" property="remarkImg"/>
        <result column="typeID" property="typeID"/>
        <result column="typeName" property="typeName"/>
        <result column="timeGroup" property="timeGroup"/>
    </resultMap>

</mapper>