<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jsy.community.mapper.LivingPaymentOperationMapper">
    <update id="addRemark">
        update t_pay_order
        <set>
        <if test="tally!=null and tally!=''">
            tally=#{tally},
        </if>
        <if test="remark!=null and remark!=''">
            remark=#{remark},
        </if>
        <if test="remarkImg!=null and remarkImg!=''">
            remark_img=#{remarkImg},
        </if>
        <if test="billClassification!=null and billClassification!=''">
            bill_classification=#{billClassification},
        </if>
            <if test="billClassificationName!=null and billClassificationName!=''">
            bill_classification_name=#{billClassificationName},
        </if>
        </set>
        where id=#{id}
    </update>
</mapper>