<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jsy.community.mapper.LivingpaymentQueryMapper">
    <sql id="query">
        where t.deleted=0 and tg.deleted=0 and tpt.deleted=0 and tg.uid=#{userID}
        <if test="familyId!=null and familyId!=''">
            and t.family_id=#{familyId}
        </if>
        <if test="payYear!=null and payYear>0">
            and t.pay_year=#{payYear}
        </if>
        <if test="payMonth!=null and payMonth>0">
            and t.pay_month=#{payMonth}
        </if>
    </sql>

    <select id="selectList" resultMap="DefaultHouseOwnerMap">
        SELECT distinct
        tpg.id as groupId,
        tpg.name as groupName,
        tpf.address as address,
        tpf.family_id as familyId,
        tpf.family_name as familyName,
        tpc.id as companyId,
        tpc.name as companyName,
        tpt.icon as icon,
        tpt.medium_icon as mediumIcon,
        tpt.large_size_icon as largeSizeIcon,
        tpt.id as typeID,
        tpt.name as typeName
        FROM t_pay_order tpf
        join t_pay_type tpt on tpf.type_id=tpt.id
        join t_pay_group tpg on tpf.group_id=tpg.id
        join t_pay_company tpc on tpf.company_id=tpc.id
        where tpf.deleted=0 and tpt.deleted=0 and tpg.deleted=0 and tpc.deleted=0 and tpf.uid=#{userId} ORDER BY tpf.create_time desc limit #{page},#{size}
    </select>


    <select id="selectOrder" resultMap="PaymentRecordsVOMAP">
        SELECT
        concat(t.pay_year,"年",t.pay_month,"月") as timeGroup,
        t.id as orderId,t.pay_year as payYear,t.pay_month as payMonth,t.order_num as orderNum,t.company_name as companyName,
        t.family_id as familyId,t.order_time as orderTime,t.payment_balance paymentBalance,
        tpt.id as typeId,tpt.name as typeName,tpt.icon as icon,tpt.medium_icon as mediumIcon,tpt.large_size_icon as largeSizeIcon
        FROM t_pay_order t
        join t_pay_group tg on t.group_id=tg.id
        join t_pay_type tpt on t.type_id=tpt.id
        <include refid="query"></include>
        ORDER BY orderTime desc
    </select>
    <select id="selectGroup" resultMap="GroupVOMap">
        SELECT distinct
        po.family_id as familyId,pc.id as typeId,pc.name as typeName,pg.id as groupId,pg.name as groupName
        FROM t_pay_order po
        join t_pay_type tt on po.type_id=tt.id
        join t_pay_group pg on po.group_id=pg.id
        JOIN t_pay_company pc on po.type_id=pc.id
        where tt.deleted=0 and pg.deleted=0 and pc.deleted=0 and po.deleted=0 and pg.uid=#{userId} and pg.name=#{groupName}
    </select>
    <select id="selectGroupAll" resultMap="GroupVOMap">
        SELECT distinct
        tg.name as groupName,
        ph.family_id as familyId,
		pc.id as typeId,
		pc.name as typeName,
        pt.id as companyId,
		pt.name as companyName
        FROM t_pay_family ph
		JOIN t_pay_company pc on ph.company_id=pc.id
		JOIN t_pay_type pt on ph.type_id=pt.id
		join t_pay_group tg on tg.id=ph.group_id
        where tg.deleted=0 and ph.deleted=0 and ph.uid=#{userID}
    </select>
    <select id="selectPaymentDetailsVO" resultType="com.jsy.community.vo.livingpayment.PaymentDetailsVO">
        SELECT
        id as orderId,
        company_name as companyName,
        family_id as familyId,
        order_time as orderTime,
        arrive_time as arriveTime,
        payment_balance as paymentBalance,
        account_balance as accountBalance,
        address as address,
        status as status,
        family_name as familyName
        FROM t_pay_order
        where deleted=0 and id=#{id}
    </select>
    <select id="findGroup" resultType="com.jsy.community.entity.PayGroupEntity">
        select id,uid,name,type from t_pay_group where deleted=0 and uid=#{userId}
    </select>
    <select id="selectOrderId" resultType="com.jsy.community.vo.livingpayment.TheBillingDetailsVO">
        SELECT
        t.id as orderId,t.pay_type as payType,tp.name as typeName,
        tp.icon as icon,tp.medium_icon as mediumIcon,
        tp.large_size_icon as largeSizeIcon,t.company_name as companyName,
        t.payment_balance as paymentBalance,t.status as status,t.family_id as familyId,
        t.order_num as orderNum,t.bill_classification as billClassification,t.bill_classification_name as billClassificationName,
        t.tally as tally,t.remark as remark,t.remark_img as remarkImg
        FROM t_pay_order t JOIN t_pay_type tp on t.type_id=tp.id
        where t.deleted=0 and tp.deleted=0 and t.uid=#{uid} and t.id=#{id}
    </select>
    <select id="selectFamilyId" resultMap="FamilyIdVOMap">
        select distinct tpt.name as typeName,tpo.company_name as companyName,tpo.family_id as familyId
        from  t_pay_order tpo join t_pay_type tpt on tpo.type_id=tpt.id
        where tpo.deleted=0 and tpt.deleted=0 and tpo.uid=#{uid}
    </select>
    <resultMap id="FamilyIdVOMap" type="com.jsy.community.vo.livingpayment.FamilyIdVO">
        <result property="typeName" column="typeName"/>
        <result property="companyName" column="companyName"/>
        <result property="familyId" column="familyId"/>
    </resultMap>

    <resultMap id="GroupVOMap" type="com.jsy.community.vo.livingpayment.GroupVO">
        <result property="typeName" column="typeName"/>
        <result property="typeId" column="typeID"/>
        <result property="groupName" column="groupName"/>
        <result property="familyId" column="familyId"/>
        <result property="groupId" column="groupId"/>
        <result property="companyId" column="companyId"/>
        <result property="companyName" column="companyName"/>
    </resultMap>

    <resultMap id="DefaultHouseOwnerMap" type="com.jsy.community.vo.livingpayment.DefaultHouseOwnerVO">
        <result property="groupId" column="groupId"/>
        <result property="groupName" column="groupName"/>
        <result property="familyId" column="familyId"/>
        <result property="familyName" column="familyName"/>
        <result property="companyId" column="companyId"/>
        <result property="companyName" column="companyName"/>
        <result property="typeId" column="typeId"/>
        <result property="typeName" column="typeName"/>
        <result property="address" column="address"/>
        <result property="icon" column="icon"/>
        <result property="mediumIcon" column="mediumIcon"/>
        <result property="largeSizeIcon" column="largeSizeIcon"/>
    </resultMap>

    <resultMap id="PaymentRecordsVOMAP" type="com.jsy.community.vo.livingpayment.PaymentRecordsVO">
        <result property="orderId" column="orderId"/>
        <result column="payYear" property="payYear"/>
        <result column="payMonth" property="payMonth"/>
        <result column="paymentBalance" property="paymentBalance"/>
        <result column="companyName" property="companyName"/>
        <result column="familyId" property="familyId"/>
        <result column="orderNum" property="orderNum"/>
        <result column="orderTime" property="orderTime"/>
        <result column="typeId" property="typeId"/>
        <result column="typeName" property="typeName"/>
        <result column="icon" property="icon"/>
        <result column="mediumIcon" property="mediumIcon"/>
        <result column="largeSizeIcon" property="largeSizeIcon"/>
        <result column="timeGroup" property="timeGroup"/>
    </resultMap>
</mapper>