<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jsy.community.mapper.LivingPaymentMapper">


    <select id="selectList" resultMap="DefaultHouseOwnerMap">
        SELECT tp.id as groupId,tp.name as groupName,t.pay_number as payNumber,t.pay_company as payCompany FROM t_pay_house_owner t join t_pay_group tp on t.group_id=tp.id where tp.uid=#{userId}
    </select>

    <resultMap id="DefaultHouseOwnerMap" type="com.jsy.community.vo.DefaultHouseOwnerVO">
        <result property="groupId" column="groupId"/>
        <result property="groupName" column="groupName"/>
        <result property="payNumber" column="payNumber"/>
        <result property="payCompany" column="payCompany"/>
    </resultMap>

</mapper>