<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jsy.community.mapper.LivingPaymentMapper">
    <sql id="query">
        where tg.uid=#{userID}
        <if test="doorNo!=null and doorNo!=''">
            and t.family_id=#{doorNo}
        </if>
        <if test="payYear!=null and payYear>0">
            and t.pay_year=#{payYear}
        </if>
        <if test="payMonth!=null and payMonth>0">
            and t.pay_month=#{payMonth}
        </if>
    </sql>

    <select id="selectList" resultMap="DefaultHouseOwnerMap">
        SELECT distinct
        pg.name as groupName,
        po.family_id as doorNo,
        po.unit_id as payCompanyId,
        po.unit as payCompanyName,
        tt.icon as icon,
        tt.medium_icon as mediumIcon,
        tt.large_size_icon as largeSizeIcon,
        tt.id as typeID,
        tt.name as typeName,
        po.create_time as timeStart
        FROM t_pay_order po
        join t_pay_type tt on po.payment_type=tt.id
        join t_pay_group pg on po.group_id=pg.id
        where pg.uid=#{userId} ORDER BY timeStart desc limit #{page},#{size}
    </select>


    <select id="selectOrder" resultMap="PaymentRecordsVOMAP">
        SELECT
        concat(t.pay_year,"年",t.pay_month,"月") as timeGroup,
        t.id as id,t.pay_year as payYear,t.pay_month as payMonth,t.order_num as orderNum,t.unit as unitName,
        t.family_id as doorNo,t.order_time as orderTime,t.payment_amount paySum,t.pay_type as payType,
        t.bill_classification as billClassification,t.tally as tally,t.remark as remark,t.remark_img as remarkImg,
        tpt.id as typeID,tpt.name as typeName,t.address as address,tpt.icon
        FROM t_pay_order t
        join t_pay_group tg on t.group_id=tg.id
        join t_pay_type tpt on t.payment_type=tpt.id
        <include refid="query"></include>
        ORDER BY orderTime desc
    </select>
    <select id="selectGroup" resultMap="GroupVOMap">
        SELECT distinct
        po.family_id as doorNo,pc.id as typeID,pc.name as typeName,pg.id as groupID,pg.name as groupName
        FROM t_pay_order po
        join t_pay_type tt on po.payment_type=tt.id
        join t_pay_group pg on po.group_id=pg.id
        JOIN t_pay_company pc on po.payment_type=pc.id
        where pg.uid=#{userId} and pg.name=#{groupName}
    </select>
    <select id="selectGroupAll" resultMap="GroupVOMap">
        SELECT distinct
        tg.name as groupName,
        ph.family_id as doorNo,
		pc.id as typeID,
		pc.name as typeName,
        pt.id as payTypeID,
		pt.name as payTypeName
        FROM t_pay_house_owner ph
		JOIN t_pay_company pc on ph.pay_company=pc.id
		JOIN t_pay_type pt on ph.type=pt.id
		join t_pay_group tg on tg.id=ph.group_id
        where tg.deleted=0 and ph.deleted=0 and ph.uid=#{userID}
    </select>
    <select id="selectPaymentDetailsVO" resultType="com.jsy.community.vo.PaymentDetailsVO">
        SELECT
        id,
        unit as unitName,
        family_id as doorNo,
        order_time as orderTime,
        arrive_time as accountingTime,
        payment_amount as paySum,
        pay_balance as payBalance,
        address as address,
        status as status,
        family_name as familyName
        FROM t_pay_order
        where id=#{id}
    </select>
    <select id="findGroup" resultType="com.jsy.community.entity.PayGroupEntity">
        select id,uid,name,type from t_pay_group where deleted=0 and uid=#{userId}
    </select>
    <update id="addRemark">
        update t_pay_order
        <set>
        <if test="tally!=null and tally!=''">
            tally=#{tally},
        </if>
        <if test="remark!=null and remark!=''">
            remark=#{remark},
        </if>
        <if test="remarkImg!=null and remarkImg!=''">
            remark_img=#{remarkImg},
        </if>
        <if test="billClassification!=null and billClassification!=''">
            bill_classification=#{billClassification},
        </if>
        </set>
        where id=#{id}
    </update>

    <resultMap id="GroupVOMap" type="com.jsy.community.vo.GroupVO">
        <result property="typeName" column="typeName"/>
        <result property="typeID" column="typeID"/>
        <result property="groupName" column="groupName"/>
        <result property="doorNo" column="doorNo"/>
        <result property="groupID" column="groupID"/>
        <result property="payTypeID" column="payTypeID"/>
        <result property="payTypeName" column="payTypeName"/>
    </resultMap>

    <resultMap id="DefaultHouseOwnerMap" type="com.jsy.community.vo.DefaultHouseOwnerVO">
        <result property="groupId" column="groupId"/>
        <result property="groupName" column="groupName"/>
        <result property="doorNo" column="doorNo"/>
        <result property="payCompanyId" column="payCompanyId"/>
        <result property="payCompanyName" column="payCompanyName"/>
        <result property="typeID" column="typeID"/>
        <result property="typeName" column="typeName"/>
        <result property="icon" column="icon"/>
        <result property="mediumIcon" column="mediumIcon"/>
        <result property="largeSizeIcon" column="largeSizeIcon"/>
    </resultMap>

    <resultMap id="PaymentRecordsVOMAP" type="com.jsy.community.vo.PaymentRecordsVO">
        <result property="id" column="id"/>
        <result column="payYear" property="payYear"/>
        <result column="payMonth" property="payMonth"/>
        <result column="payType" property="payType"/>
        <result column="paySum" property="paySum"/>
        <result column="unitName" property="unitName"/>
        <result column="icon" property="icon"/>
        <result column="address" property="address"/>
        <result column="doorNo" property="doorNo"/>
        <result column="orderNum" property="orderNum"/>
        <result column="orderTime" property="orderTime"/>
        <result column="billClassification" property="billClassification"/>
        <result column="tally" property="tally"/>
        <result column="remark" property="remark"/>
        <result column="remarkImg" property="remarkImg"/>
        <result column="typeID" property="typeID"/>
        <result column="typeName" property="typeName"/>
        <result column="timeGroup" property="timeGroup"/>
    </resultMap>

</mapper>