<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jsy.community.mapper.ProprietorMarketMapper">
   <resultMap id="ProprietorMarketEntityMap" type="com.jsy.community.entity.proprietor.ProprietorMarketEntity">
       <result column="id" property="id"/>
       <result column="communityId" property="communityId"/>
       <result column="uid" property="uid"/>
       <result column="createTime" property="createTime"/>
       <result column="updateTime" property="updateTime"/>
       <result column="deleted" property="deleted"/>
       <result column="state" property="state"/>

       <result column="goodsName" property="goodsName"/>
       <result column="price" property="price"/>
       <result column="goodsExplain" property="goodsExplain"/>
       <result column="negotiable" property="negotiable"/>
       <result column="labelId" property="labelId"/>
       <result column="categoryId" property="categoryId"/>
       <result column="click" property="click"/>
       <result column="phone" property="phone"/>
       <result column="images" property="images"/>
       <result column="shield" property="shield"/>
       <result column="remove" property="remove"></result>

       <result column="labelName" property="labelName"/>
       <result column="categoryName" property="categoryName"/>

       <result column="nickName" property="nickName"/>
       <result column="avatarUrl" property="avatarUrl"/>
       <result column="isRealAuth" property="isRealAuth"/>

   </resultMap>

    <!--当前用户发布的商品-->
    <select id="selectMarketPage" resultMap="ProprietorMarketEntityMap">
        select tm.id, tm.community_id , tm.uid, tm.goods_name as goodsName, tm.price, tm.goods_explain as goodsExplain,
               tm.negotiable,  tm.state, tm.category_id as categoryId,tm.label_id as labelId,
               tm.click as click, tm.phone as phone,tm.images as images,tm.shield as shield,
               tm.deleted as deleted, tm.create_time as createTime,tm.update_time as updateTime,
               tpml.label as labelName,tpmc.category  as categoryName,tm.remove
        from t_proprietor_market tm
        left join t_proprietor_market_category tpmc on tm.category_id = tpmc.category_id
        left join t_proprietor_market_label tpml on tm.label_id = tpml.label_id
            where tm.deleted = 0
            and tm.state = #{query.state}
            and tm.uid = #{query.uid}
            and tm.community_id= #{query.communityId}
        order by tm.create_time desc
        limit #{page},#{size}
    </select>

    <!--当前用户发布的条数-->
    <select id="findTotal" resultType="java.lang.Long">
        select count(*) from t_proprietor_market tm
        where tm.deleted = 0
          and tm.state =#{query.state}
          and tm.uid = #{query.uid}
          and tm.community_id= #{query.communityId}
    </select>


    <!--所有发布商品的条数-->
    <select id="findTotals" resultType="java.lang.Long">
        select count(*) from t_proprietor_market tm
        where tm.deleted = 0
          and tm.state =1
          and tm.category_id=#{query.categoryId}
    </select>

    <!--所有发布商品-->
    <select id="selectMarketAllPage" resultType="com.jsy.community.qo.proprietor.ProprietorMarketQO">
        select tm.id, tm.community_id , tm.uid, tm.goods_name as goodsName, tm.price, tm.goods_explain as goodsExplain,
               tm.negotiable,  tm.state, tm.category_id as categoryId,tm.label_id as labelId,
               tm.click as click, tm.phone as phone,tm.images as images,tm.shield as shield,
               tm.deleted as deleted, tm.create_time as createTime,tm.update_time as updateTime,
               tpml.label as labelName,tpmc.category  as categoryName
        from t_proprietor_market tm
                 left join t_proprietor_market_category tpmc on tm.category_id = tpmc.category_id
                 left join t_proprietor_market_label tpml on tm.label_id = tpml.label_id
        where tm.deleted = 0
          and tm.state = 1
          and tm.category_id=#{query.categoryId}
          and tm.community_id= #{query.communityId}
        order by tm.create_time desc
        limit #{page},#{size}
    </select>
    <select id="findLikeTotals" resultType="java.lang.Long">
        select count(*) from t_proprietor_market tm
        where tm.deleted = 0
          and tm.state =1
          and tm.community_id= #{query.communityId}
    </select>

    <select id="selectMarketLikePage" resultType="com.jsy.community.qo.proprietor.ProprietorMarketQO">
        select tm.id, tm.community_id , tm.uid, tm.goods_name as goodsName, tm.price, tm.goods_explain as goodsExplain,
               tm.negotiable,  tm.state, tm.category_id as categoryId,tm.label_id as labelId,
               tm.click as click, tm.phone as phone,tm.images as images,tm.shield as shield,
               tm.deleted as deleted, tm.create_time as createTime,tm.update_time as updateTime,
               tpml.label as labelName,tpmc.category  as categoryName
        from t_proprietor_market tm
                 left join t_proprietor_market_category tpmc on tm.category_id = tpmc.category_id
                 left join t_proprietor_market_label tpml on tm.label_id = tpml.label_id
        where tm.deleted = 0
          and tm.state = 1
          and tm.community_id= #{query.communityId}
        order by tm.click desc
        limit #{page},#{size}
    </select>

    <!-- 查询单条详细信息    -->
    <!--<select id="selectMarketOne" resultType="com.jsy.community.entity.proprietor.ProprietorMarketEntity">
        select tm.id, tm.community_id , tm.uid, tm.goods_name as goodsName, tm.price, tm.goods_explain as goodsExplain,
               tm.negotiable,  tm.state, tm.category_id as categoryId,tm.label_id as labelId,
               tm.click as click, tm.phone as phone,tm.images as images,tm.shield as shield,
               tm.deleted as deleted, tm.create_time as createTime,tm.update_time as updateTime,
               tpml.label as labelName,tpmc.category  as categoryName,
               tu.nickname as nickName,tu.avatar_url as avatarUrl,tu.is_real_auth as isRealAuth,tu.real_name as realName
        from t_proprietor_market tm
                 left join t_proprietor_market_category tpmc on tm.category_id = tpmc.category_id
                 left join t_proprietor_market_label tpml on tm.label_id = tpml.label_id
                 left join t_user tu on tm.uid = tu.uid
        where tm.id=#{id}
          and tm.deleted = 0
          and tm.state = 1
          and tm.shield= 0
    </select>-->
    <select id="selectMarketOne" resultType="com.jsy.community.entity.proprietor.ProprietorMarketEntity">
        select tm.id, tm.community_id , tm.uid, tm.goods_name as goodsName, tm.price, tm.goods_explain as goodsExplain,
               tm.negotiable,  tm.state, tm.category_id as categoryId,tm.label_id as labelId,
               tm.click as click, tm.phone as phone,tm.images as images,tm.shield as shield,
               tm.deleted as deleted, tm.create_time as createTime,tm.update_time as updateTime,
               tpml.label as labelName,tpmc.category  as categoryName
        from t_proprietor_market tm
                 left join t_proprietor_market_category tpmc on tm.category_id = tpmc.category_id
                 left join t_proprietor_market_label tpml on tm.label_id = tpml.label_id
        where tm.id=#{id}
    </select>

</mapper>