<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.jsy.community.mapper.RegionMapper">

	<!-- 获取分级封装后的所有区域id,name,pid -->
	<select id="getAllRegion" resultType="com.jsy.community.entity.RegionEntity">
		select id,name,pid,level,initials,pinyin,lng,lat from t_region
		<!-- order by CONVERT (pinyin USING gbk) -->
	</select>

	<!-- 获取子区域 -->
	<select id="getSubRegion" resultType="com.jsy.community.entity.RegionEntity">
		select id,name,pid,level,initials,pinyin,lng,lat from t_region
		where pid = #{id}
	</select>

	<!--  省市区，刷数据 -->
	<insert id="insertRegion" parameterType="java.util.List">
		insert into t_region(id,name,pid,level,initials,pinyin,lng,lat)
		values
		<foreach collection="list" item="item" separator=",">
			(#{item.id},#{item.name},#{item.pid},#{item.level},#{item.initials},#{item.pinyin},#{item.lng},#{item.lat})
		</foreach>
	</insert>

	<!-- 条件查询城市 -->
	<select id="vagueQueryRegion" resultType="com.jsy.community.entity.RegionEntity">
		select id,name,pid,level,initials,pinyin,lng,lat from t_region
		where level = #{lv}
		<if test="cityId != null">and pid = #{cityId}</if>
		and
		(
			initials = #{searchStr}
			or name like concat('%',#{searchStr},'%')
			or pinyin like concat(#{searchStr},'%')
		)
		order by if(left(name,1) = #{searchStr},0,1)
	</select>

	<select id="getListPayTypeId" resultType="long">
		SELECT tr.type_id
		from t_type_region tr
		inner join t_region r on tr.region_id = r.id
		where tr.region_id = #{id}
	</select>

	<!-- 通过区域名称模糊匹配区域 -->
	<select id="queryRegionByName" resultType="com.jsy.community.entity.RegionEntity">
		select * from t_region where level = 2 and name like concat("%", #{regionName}, "%") limit 1
	</select>


</mapper>
