<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.jsy.community.mapper.RegionMapper">

	<!-- 获取分级封装后的所有区域id,name,pid -->
	<select id="getAllRegion" resultType="com.jsy.community.entity.RegionEntity">
		select id,name,pid,level,initials,pinyin,lng,lat from t_region
		<!-- order by CONVERT (pinyin USING gbk) -->
	</select>

	<!-- 获取子区域 -->
	<select id="getSubRegion" resultType="com.jsy.community.entity.RegionEntity">
		select id,name,pid,level,initials,pinyin,lng,lat from t_region
		where pid = #{id}
	</select>

	<!--  省市区，刷数据 -->
	<insert id="insertRegion" parameterType="java.util.List">
		insert into t_region(id,name,pid,level,initials,pinyin,lng,lat)
		values
		<foreach collection="list" item="item" separator=",">
			(#{item.id},#{item.name},#{item.pid},#{item.level},#{item.initials},#{item.pinyin},#{item.lng},#{item.lat})
		</foreach>
	</insert>

	<!-- 条件查询城市 -->
	<select id="vagueQueryCity" resultType="com.jsy.community.entity.RegionEntity">
		select id,name,pid,level,initials,pinyin,lng,lat from t_region
		where level = 2
		and
		(
			initials = #{searchStr}
			or name like concat('%',#{searchStr},'%')
			or pinyin like concat('%',#{searchStr},'%')
		)
	</select>

</mapper>
