<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jsy.community.mapper.RelationMapper">

<sql id="selectId">
        t.id,
        t.householder_id,
        t.community_id,
        t.house_id,
        t.name,
        t.sex,
        t.mobile,
        t.id_card,
        t.relation
</sql>
<!--  添加车辆  -->
    <insert id="addCars" parameterType="List">
        insert into t_car(uid,car_image_url,car_type,car_plate,contact,owner,community_id,car_position_id,check_status,house_member_id)
        values
        <foreach collection="cars" item="item" separator=",">
            (#{item.uid},#{item.carImgURL},#{item.carType},#{item.carId},#{item.phoneTel},#{item.owner},#{item.communityId},#{item.carPosition},#{item.checkStatus},#{item.houseMemberId})
        </foreach>
    </insert>
    <!--  通过id查询业主家属  -->
    <select id="selectID" resultType="com.jsy.community.entity.HouseMemberEntity">
        select <include refid="selectId"></include> from t_house_member t join t_user_house tu on t.householder_id=tu.uid
        where t.house_id=tu.house_id and t.householder_id=#{id} and t.house_id=#{houseId}
    </select>
    <update id="updateUserRelationDetails" parameterType="com.jsy.community.qo.RelationQo">
        update t_house_member
        <set>
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="sex!=null">
                sex=#{sex},
            </if>
             <if test="phoneTel!=null">
                 mobile=#{phoneTel},
            </if>
            <if test="identificationType!=null">
                identification_type=#{identificationType},
            </if>
            <if test="idNumber!=null">
                id_card=#{idNumber},
            </if>
            <if test="concern!=null">
                relation=#{concern},
            </if>
            <if test="communityId!=null">
                community_id=#{communityId},
            </if>
            <if test="houseId!=null">
                house_id=#{houseId}
            </if>
            where id=#{id}
        </set>
    </update>
    <update id="updateUserRelationCar" parameterType="com.jsy.community.qo.RelationCarsQo">
            update t_car
            <set>
                <if test="carId!=null">
                    car_plate=#{carId},
                </if>
                <if test="carType!=null">
                    car_type=#{carType},
                </if>
                <if test="carImgURL!=null">
                    car_image_url=#{carImgURL},
                </if>
                <if test="drivingLicenseUrl!=null">
                    driving_license_url=#{drivingLicenseUrl},
                </if>
                <if test="owner!=null">
                    owner=#{owner},
                </if>
                <if test="communityId!=null">
                    community_id=#{communityId},
                </if>
                <if test="checkStatus!=null">
                    check_status=#{checkStatus}
                </if>
            </set>
            where id=#{id}
    </update>
</mapper>