<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jsy.community.mapper.RelationMapper">

<sql id="selectId">
        t.id,
        t.householder_id,
        t.community_id,
        t.house_id,
        t.name,
        t.sex,
        t.mobile,
        t.id_card,
        t.relation
</sql>
<!--  添加车辆  -->
    <insert id="addCars" parameterType="List">
        insert into t_relation_car(id,uid,car_type,car_plate,mobile,owner,id_card,community_id,relationship_id,driving_license_url,relation_type)
        values
        <foreach collection="cars" item="item" separator=",">
            (#{item.id},#{item.uid},#{item.carType},#{item.carPlate},#{item.mobile},#{item.owner},#{item.idCard},#{item.communityId},#{item.relationshipId},#{item.drivingLicenseUrl},#{item.relationType})
        </foreach>
    </insert>
    <!--  通过id查询业主家属  -->
    <select id="selectID" resultType="com.jsy.community.entity.HouseMemberEntity">
        select <include refid="selectId"></include> from t_house_member t
        where t.deleted=0 and t.householder_id=#{id} and t.house_id=#{houseId}
    </select>
    <update id="updateUserRelationDetails" parameterType="com.jsy.community.qo.proprietor.RelationQO">
        update t_house_member
        <set>
            <if test="name!=null and name!=''">
                name=#{name},
            </if>
            <if test="sex!=null">
                sex=#{sex},
            </if>
             <if test="mobile!=null and mobile!=''">
                 mobile=#{mobile},
            </if>
            <if test="identificationType!=null and identificationType>0">
                identification_type=#{identificationType},
            </if>
            <if test="idCard!=null and idCard!=''">
                id_card=#{idCard},
            </if>
            <if test="relation!=null and relation>0">
                relation=#{relation},
            </if>
            <if test="communityId!=null and communityId>0">
                community_id=#{communityId},
            </if>
            <if test="houseId!=null and houseId>0">
                house_id=#{houseId}
            </if>
            where id=#{id}
        </set>
    </update>
    <update id="updateUserRelationCar" parameterType="com.jsy.community.qo.proprietor.RelationCarsQO">
            update t_relation_car
            <set>
                <if test="carPlate!=null and carPlate!=''">
                    car_plate=#{carPlate},
                </if>
                <if test="carType!=null and carType!=''">
                    car_type=#{carType},
                </if>
                <if test="drivingLicenseUrl!=null and drivingLicenseUrl!=''">
                    driving_license_url=#{drivingLicenseUrl},
                </if>
            </set>
            where id=#{id}
    </update>
    <insert id="insertOne">
        insert into t_relation_car(id,uid,car_type,car_plate,mobile,owner,id_card,community_id,relationship_id,driving_license_url,relation_type)
        value (#{id},#{uid},#{carType},#{carPlate},#{mobile},#{owner},#{idCard},#{communityId},#{relationshipId},#{drivingLicenseUrl},#{relationType})
    </insert>
</mapper>