<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jsy.community.mapper.UserMapper">
	<select id="queryUserInfoByUid" resultType="com.jsy.community.entity.UserEntity">
		select * from t_user where id = #{uid}
	</select>
	<!-- 业主信息更新sql -->
	<update id="com.jsy.community.mapper.UserMapper.proprietorUpdate">
		update t_user set
		<!-- 去除多余的前缀 , -->
		<trim  prefixOverrides=",">
			<if test="nickname != null  and !nickname.equals(&quot;&quot;)">
				,nickname = #{nickname}
			</if>
			<if test="avatarUrl != null  and !avatarUrl.equals(&quot;&quot;)">
				,avatar_url = #{avatarUrl}
			</if>
			<if test="sex != null">
				,sex = #{sex}
			</if>
			<if test="provinceId != null">
				,province_id = #{provinceId}
			</if>
			<if test="cityId != null">
				,city_id = #{cityId}
			</if>
			<if test="areaId != null">
				,area_id = #{areaId}
			</if>
			<if test="detailAddress != null and !detailAddress.equals(&quot;&quot;)">
				,detail_address = #{detailAddress}
			</if>
		</trim>
		where id = #{id}
	</update>
</mapper>