<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jsy.community.mapper.UserHouseMapper">

	<!-- 批量新增房屋数据 -->
	<insert id="addHouseBatch">
		insert into t_user_house(id,uid,community_id,house_id,check_status)
		values
		<foreach collection="anyHouse" item="item" separator=",">
			(${@com.jsy.community.utils.SnowFlake@nextId()},#{uid},#{item.communityId},#{item.houseId},2)
		</foreach>
	</insert>
	<!-- 手动按房屋id 和用户id 更新用户房屋信息-->
	<update id="update">
		update t_user_house
		<set>
			community_id = #{h.communityId},
			house_id = #{h.houseId}
		</set>
		<where>
			id = #{h.id} and uid = #{uid} and deleted = 0
		</where>
	</update>
</mapper>