<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jsy.community.mapper.UserAuthMapper">
	<select id="queryUserByField" resultType="com.jsy.community.entity.UserAuthEntity">
		select * from t_user_auth ua where ${field} = #{account} and deleted=0
	</select>
	
	<select id="queryUserIdByMobile" resultType="java.lang.String">
		select uid from t_user_auth ua where ua.mobile = #{mobile} and deleted=0
	</select>
	
	<select id="checkUserExists" resultType="java.lang.Long">
		select id from t_user_auth ua where ${field} = #{account} and deleted=0
	</select>
</mapper>