<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jsy.community.mapper.UserInformMapper">
    <!-- 向t_user_inform数据表插入 当前社区消息状态的用户已读信息 记录 -->
    <insert id="setInformReadByUser" >
        insert into t_user_inform
        (id,inform_id,uid,acct_id)
        select #{id},#{informId},#{uid},#{acctId}
        from dual where not exists
        (select id,inform_id,uid,acct_id from t_user_inform where uid = #{uid} and inform_id = #{informId});
    </insert>

    <!-- 按用户ID查出用户所在社区id列表 其中这个社区推送id并没有被当前用户屏蔽、 -->
    <select id="queryUserAllCommunityId" resultType="java.lang.Long">
       SELECT DISTINCT
	        i.acct_id
        FROM
	        t_push_inform AS i
	    JOIN t_user_house AS h ON h.community_id = i.acct_id
	    AND h.check_status = 1
	    AND h.deleted = 0
	    AND i.deleted = 0
        WHERE
	    ( SELECT COUNT( 1 ) FROM t_push_inform_del AS d WHERE i.acct_id = d.acct_id AND d.uid = #{uid} ) = 0
	    AND h.uid = #{uid}
    </select>


    <!-- 通过 user id 查出所有推送 至所有社区 但是没有被该用户屏蔽的 推送账号列表 -->
    <select id="queryPushAcctIds" resultType="java.lang.Long">
        SELECT DISTINCT
	        i.acct_id
        FROM
	        t_push_inform AS i
        WHERE
	        i.push_target = 0
	    AND i.deleted = 0
	    AND ( SELECT count( 1 ) FROM t_push_inform_del AS d WHERE d.uid = #{uid} AND d.acct_id = i.acct_id ) = 0
    </select>

    <!-- 根据id查询社区相关消息 -->
    <select id="queryLatestInform" resultMap="queryLatestInformMap">
        SELECT
	        acct_id,
	        acct_name,
	        acct_avatar,
	        push_title,
	        create_time
        FROM
	        t_push_inform
        WHERE
	        acct_id = #{id} and deleted = 0
        ORDER BY
	        create_time DESC
	        LIMIT 1
    </select>
    <resultMap id="queryLatestInformMap" type="com.jsy.community.vo.InformListVO">
        <id column="acct_id" property="id"/>
        <result column="acct_name" property="name"/>
        <result column="acct_avatar" property="avatarUrl"/>
        <result column="push_title" property="unreadInformTitle"/>
        <result column="create_time" property="unreadInformCreateTime"/>
    </resultMap>


</mapper>