<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jsy.community.mapper.UserMapper">
	<!-- 查询用户拥有房屋 -->
	<select id="queryUserHouseById" resultType="com.jsy.community.vo.HouseVo">
		SELECT
			c.NAME AS communityName,
			h.building,
			h.unit,
			h.floor,
			h.door,
			CASE uh.check_status
			WHEN 0 THEN '未审核通过'
			WHEN 1 THEN '审核通过'
			WHEN 2 THEN '审核中' END as checkStatus
		FROM
			t_house AS h
			LEFT JOIN t_user_house AS uh ON h.id = uh.house_id AND uh.deleted = 0
			LEFT JOIN t_community AS c ON uh.community_id = c.id
		WHERE
			h.deleted = 0
			AND c.deleted = 0
			AND uh.house_id = #{houseId}
			AND uh.uid = #{uid}
	</select>
	<!-- 根据业主身份证 获取 业主表 所有房屋id + 社区id -->
	<select id="getProprietorInfo" resultType="com.jsy.community.qo.proprietor.UserHouseQo">
		select community_id,house_id from t_proprietor where id_card = #{idCard} and deleted = 0
	</select>
	<!-- uid批量查姓名映射 -->
	<select id="queryNameByUidBatch" resultType="Map">
		select uid,real_name as name from t_user
		where uid in
		<foreach collection="uids" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>
	<!-- 在固定的uid范围内筛选姓名满足模糊匹配条件的uid -->
	<select id="queryUidOfNameLike" resultType="String">
		select uid from t_user
		where uid in
		<foreach collection="uids" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
		and real_name like concat('%',#{nameLike},'%')
	</select>
</mapper>