<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsy.community.mapper.AdvertMapper">

   <select id="page" resultType="com.jsy.community.dto.advert.AdvertDto">
       SELECT
        a.id,
        a.advert_id,
        a.name,
        a.display_position,
        a.sort,advert_type,
        a.file_url,
        a.jump_type,
        a.jump_address,
        a.state,
        a.create_time,
        a.update_time,
        a.notes,
        a.deleted,
        ap.position_name
    FROM
        t_advert a,
	    t_advert_position ap
    WHERE
	    a.display_position = ap.id
       <if test="display_position != null and display_position != ''">
           AND a.display_position = #{display_position}
       </if>
    AND
        a.deleted=0
    ORDER BY
       a.display_position, a.sort
   </select>


</mapper>