<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsy.community.mapper.CommunityMapper">
    <select id="queryCommunityAndPropertyListByArea" resultType="com.jsy.community.vo.admin.CommunityPropertyListVO">
        select
        c.id communityId,
        c.`name` communityName,
        p.`name` propertyName
        from t_community c left join t_property_company p on c.property_id = p.id
        where 1=1
        <if test="provinceId!=null">
            and c.province_id = #{provinceId}
        </if>
        <if test="cityId!=null">
            and c.city_id = #{cityId}
        </if>
        <if test="areaId!=null">
            and c.area_id = #{areaId}
        </if>
    </select>
</mapper>