<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsy.community.mapper.HouseMemberMapper">

    <select id="getAllHouseIdByOwnerName" resultType="java.lang.Long">
        select
        house_id
        from t_house_member
        <where>
            relation = 1
            and name like concat('%',#{ownerName},'%')
            and deleted = 0
        </where>
    </select>
</mapper>
