<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.jsy.community.mapper.HouseMapper">

	<!-- 查询下级house -->
	<select id="getSubIdList" parameterType="java.util.List" resultType="Long">
		select id from t_house
		where deleted = 0 and pid in
		<foreach collection="list" item="item" separator="," open="(" close=")">
			#{item}
		</foreach>
	</select>

	<!-- 批量查询楼栋已绑定单元数 -->
	<select id="queryBindUnitCountBatch" resultType="Map">
		select pid,count(0) as count from t_house where type = 2 and pid in
		<foreach collection="list" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
		group by pid
	</select>

	<!-- 查询住户数量 -->
	<select id="selectHouseNumberCount" resultType="Map">
		select house_id as houseId,count(0) as count from t_house_member
		where house_id in
		<foreach collection="list" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
		group by house_id
	</select>

	<select id="getHouseIdByDoor" resultType="java.lang.Long">
		select id from t_house where deleted = 0 and door like concat('%',#{door},'%')
	</select>
</mapper>
