<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsy.community.mapper.PayTypeMapper">

    <select id="getPayTypeIds" resultType="Long">
        SELECT tr.*
        FROM t_type_region tr,
        where tr.region_id = #{id}
    </select>

    <insert id="insertMiddle">
        insert into t_type_region (region_id,type_id) values (#{id},#{i})
    </insert>

    <select id="selectMiddle" resultType="Integer">
        select count(*) from t_type_region where region_id = #{id} and type_id = #{dataId}
    </select>

</mapper>
