<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.jsy.community.mapper.RegionMapper">

	<select id="getPayTypeIds" resultType="long">
		SELECT tr.type_id
		from t_type_region tr
		inner join t_region r on tr.region_id = r.id
		where tr.region_id = #{id}
	</select>
</mapper>
