<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.jsy.community.mapper.SysInformMapper">

	<select id="query" resultType="com.jsy.community.entity.PushInformEntity">
		SELECT
			id,
			push_title,
			push_sub_title,
			push_msg,
			browse_count,
			create_time
		FROM
			t_push_inform
		where
		<trim prefixOverrides="and">
			<if test="query.pushTitle != null and query.pushTitle != &quot;&quot;">
				push_title like concat('%',#{query.pushTitle},'%')
			</if>
			<if test="query.pushSubTitle != null and query.pushSubTitle != &quot;&quot;">
				and push_sub_title like concat('%',#{query.pushSubTitle},'%')
			</if>
			<if test="query.pushMsg != null and query.pushMsg != &quot;&quot;">
				and push_msg like concat('%',#{query.pushMsg},'%')
			</if>
			and deleted = 0
		</trim>
		and acct_id = #{query.id}
		ORDER BY
			create_time DESC
			LIMIT #{page},
			#{size}
	</select>

</mapper>
