<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jsy.community.mapper.AssetLeaseRecordMapper">
    <update id="setExpiredById">
        update t_asset_lease_record set operation = 10, deleted = 1, update_time = now() where id = #{id}
    </update>
    <!-- 房东查看单个资产的签约列表 -->
    <select id="landlordContractListByAssetId" resultType="com.jsy.community.entity.proprietor.AssetLeaseRecordEntity">
        select
            alr.id,
            alr.asset_id,
            alr.asset_type,
            alr.tenant_uid,
            alr.title,
            alr.type_code,
            alr.advantage_id,
            alr.image_url,
            alr.summarize,
            alr.direction_id,
            alr.price,
            alr.operation,
            alr.create_time,
            u.real_name,
            u.avatar_url
        from t_asset_lease_record alr
        left join t_user u on u.uid = alr.tenant_uid
        where alr.asset_id = #{assetId}
        and alr.asset_type = #{assetType}
        and alr.home_owner_uid = #{homeOwnerUid}
        <if test="contractStatus == 1">
            and alr.deleted = 0
            and alr.operation in (1, 9)
        </if>
        <if test="contractStatus == 2">
            and alr.deleted = 0
            and alr.operation in (2, 3, 4, 5, 31, 32)
        </if>
        <if test="contractStatus == 3">
            and alr.deleted = 0
            and alr.operation  = 6
        </if>
        <if test="contractStatus == 4">
            and alr.deleted = 1
            and alr.operation  = 10
        </if>
    </select>
    <!-- 根据条件查列表 -->
    <select id="queryList" resultType="com.jsy.community.entity.proprietor.AssetLeaseRecordEntity">
        select * from t_asset_lease_record
        <where>
            <if test="entity.assetType != null and entity.identityType == 1">
                asset_type = #{entity.assetType}
            </if>
            <if test="entity.homeOwnerUid != null">
                and home_owner_uid = #{entity.homeOwnerUid}
            </if>
            <if test="entity.tenantUid != null">
                tenant_uid = #{entity.tenantUid}
            </if>
        </where>
    </select>
    <!-- 查询单个详情 -->
    <select id="queryDetail" resultType="com.jsy.community.entity.proprietor.AssetLeaseRecordEntity">
        select * from t_asset_lease_record
        <where>
                id = #{entity.id}
                <if test="entity.homeOwnerUid != null">
                    and home_owner_uid = #{entity.homeOwnerUid}
                </if>
                <if test="entity.tenantUid != null">
                    tenant_uid = #{entity.tenantUid}
                </if>
        </where>
    </select>
</mapper>