<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jsy.community.mapper.HouseFavoriteMapper">

    <!-- [房屋租赁]根据房屋id获取所有图片 -->
    <select id="getHouseLeaseImage" resultType="com.jsy.community.vo.lease.HouseImageVo">
        select img_url,hid from t_house_image where hid in
        <foreach collection="houseIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <!-- [商铺租赁]根据房屋id获取所有图片 -->
    <select id="getShopImage" resultType="com.jsy.community.vo.lease.HouseImageVo">
        select img_url,shop_id as hid from t_shop_img where shop_id in
        <foreach collection="shopIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <!-- 商铺收藏列表 -->
    <select id="shopFavorite" resultType="com.jsy.community.vo.lease.HouseFavoriteVO">
        SELECT
        l.id as houseId,
        f.id as favoriteId,
        l.title AS houseTitle,
        l.month_money AS housePrice,
        l.transfer_money AS shopTransferMoney,
        l.shop_acreage AS houseSquareMeter
        FROM
        t_house_favorite AS f
        INNER JOIN t_shop_lease AS l ON f.favorite_id = l.id
        WHERE
        l.deleted = 0
        AND f.uid = #{query.uid}
        AND favorite_type = 1 limit #{page},#{size}
    </select>
    <!-- 房屋出租收藏列表 -->
    <select id="leaseFavorite" resultType="com.jsy.community.vo.lease.HouseFavoriteVO">
        SELECT
        f.id AS favoriteId,
        l.id AS houseId,
        l.house_title AS houseTitle,
        l.house_address AS houseAddress,
        l.house_price AS housePrice,
        l.house_square_meter AS houseSquareMeter
        FROM
        t_house_favorite AS f
        JOIN t_house_lease AS l ON f.favorite_id = l.id
        WHERE
        f.uid = #{query.uid} and l.deleted = 0
        AND f.favorite_type = 2 limit #{page},#{size}
    </select>

</mapper>