<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jsy.community.mapper.HouseReserveMapper">

    <!-- 提交预约 -->
    <insert id="insertReserve">
        insert into t_house_reserve
        (id,house_lease_id,community_id,reserve_status,reserve_uid,reserve_msg,reserve _date,reserve_time,deleted,create_time)
        select #{id},#{houseLeaseId},#{communityId},#{reserveStatus},#{reserveUid},#{reserveMsg},#{reserveDate},#{reserveTime},0,now()
        from dual where not exists
        (select id,house_lease_id,community_id,reserve_status,reserve_uid,reserve_msg,reserve_date,reserve_time,deleted,create_time from t_house_reserve where reserve_uid = #{reserveUid} and house_lease_id = #{houseLeaseId} and reserve_status = #{reserveStatus});
    </insert>

    <!-- 修改预约状态 -->
    <update id="updateReserveState">
        update t_house_reserve
        <set>
            <trim prefixOverrides=",">
                <if test="reserveMsg != null and !reserveMsg.equals(&quot;&quot;)">
                    ,reserve_msg = #{reserveMsg}
                </if>
                ,reserve_status = #{reserveStatus}
            </trim>
        </set>
        <where>
            id = #{id} and reserve_uid = #{reserveUid} and deleted = 0
        </where>
    </update>


    <!-- 我预约的信息 我预约别人 -->
    <select id="meReserveHouse" resultType="com.jsy.community.vo.lease.HouseReserveVO">
        SELECT DISTINCT
	        CONCAT( r.reserve_date, r.reserve_time ) AS reserveDateTime,
        CASE
		    r.reserve_status
		WHEN 0 THEN
		'已取消预约'
		WHEN 1 THEN
		'正在预约中'
		WHEN 2 THEN
		'预约成功' ELSE '预约拒绝'
	    END AS reserveStatusText,
	        l.id as houseLeaseId,
	        l.house_title AS houseTitle,
	        l.house_leasedeposit_id AS houseLeaseDeposit,
	        l.house_type_code,
	        l.house_leasemode_id AS houseLeaseMode,
	        l.house_square_meter AS houseSquareMeter,
	        l.house_direction AS houseDirection,
	        l.house_price AS housePrice,
	        l.house_unit,
	        l.house_image_id,
	        r.id,
	        u.real_name as contactName,
	        u.avatar_url as contactAvatar,
	        'false' as proprietor
        FROM
	        t_house_reserve AS r
	    LEFT JOIN t_house_lease AS l ON r.house_lease_id = l.id
	    LEFT JOIN t_user AS u ON r.reserve_uid = u.uid
        WHERE
	        r.reserve_uid = #{uid}
	        and r.deleted = 0
	        and u.deleted = 0
	    LIMIT #{qo.page},#{qo.size}
    </select>
    <!-- 预约我的信息 别人预约我 -->
    <select id="reserveMeHouse" resultType="com.jsy.community.vo.lease.HouseReserveVO">
        SELECT
	        CONCAT( r.reserve_date, r.reserve_time ) AS reserveDateTime,
        CASE
		    r.reserve_status
		WHEN 0 THEN
		'已取消预约'
		WHEN 1 THEN
		'正在预约中'
		WHEN 2 THEN
		'预约成功' ELSE '预约拒绝'
	    END AS reserveStatusText,
	        l.id as houseLeaseId,
            l.house_title AS houseTitle,
            l.house_leasedeposit_id AS houseLeaseDeposit,
            l.house_type_code,
            l.house_square_meter AS houseSquareMeter,
            l.house_direction AS houseDirection,
            l.house_leasemode_id AS houseLeaseMode,
            l.house_price AS housePrice,
            l.house_unit,
            l.house_image_id,
            r.id,
            u.real_name as contactName,
            u.avatar_url as contactAvatar,
            'true' as proprietor
        FROM
	        t_house_lease AS l
	        LEFT JOIN t_house_reserve AS r ON l.id = r.house_lease_id
	        LEFT JOIN t_user AS u ON r.reserve_uid = u.uid
        WHERE
            r.id is not null and
            l.uid = #{uid} and
            r.reserve_uid != #{uid}
            and r.deleted = 0 and u.deleted = 0
            LIMIT #{qo.page},
            #{qo.size}
    </select>
    <!-- 预约确认 -->
    <update id="confirm">
        update t_house_reserve
        <set>
            reserve_status = 2
        </set>
        <where>
            id = #{id} and reserve_status = 1 and deleted = 0
        </where>
    </update>
</mapper>