<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jsy.community.mapper.HouseLeaseMapper">


    <!-- 保存房屋租售信息 -->
    <insert id="insertHouseLease">
        insert into t_house_lease (id,uid,house_title,house_city_id,house_area_id,house_address,house_advantage_id,house_price,house_unit,house_square_meter,house_leasedeposit_id
        ,house_type_code,house_floor,house_direction,house_source_id,bedroom_type,appellation
        ,house_introduce,house_image_id,house_leasetype_id,house_leasemode_id,house_contact,house_furniture_id,house_lon,house_lat,house_id,house_community_id,house_reserve_time,create_time
        )
        values
        (#{id},#{uid},#{houseTitle},#{houseCityId},#{houseAreaId},#{houseAddress},#{houseAdvantageId},#{housePrice},#{houseUnit},#{houseSquareMeter},#{houseLeasedepositId}
        ,#{houseTypeCode},#{houseFloor},#{houseDirection},#{houseSourceId},#{bedroomType},#{appellation}
        ,#{houseIntroduce},#{houseImageId},#{houseLeasetypeId},#{houseLeasemodeId},#{houseContact},#{houseFurnitureId},#{houseLon},#{houseLat},#{houseId},#{houseCommunityId},#{houseReserveTime},now()
        )
    </insert>


    <!-- 插入房屋图片至中间库 -->
    <insert id="insertHouseImages">
        insert into t_house_image(img_url,field_id,hid)
        values
        <foreach collection="houseLeaseQO.houseImage" item="item" separator=",">
            (#{item},#{houseLeaseQO.houseImageId},#{houseLeaseQO.id})
        </foreach>
    </insert>


    <!-- 删除用户t_house_lease表中的数据 -->
    <delete id="delHouseLeaseInfo">
		update t_house_lease set deleted = 1,update_time = now() where id = #{id} and uid = #{uid} and deleted = 0
    </delete>

    <!-- 按列表查询房屋出租信息 -->
    <select id="queryHouseLeaseByList" resultType="com.jsy.community.vo.lease.HouseLeaseVO">
        select
        id,bedroom_type,house_title,house_address,house_advantage_id,house_price,house_unit,house_square_meter,house_image_id,house_leasemode_id,house_type_code,house_lon,house_lat,house_furniture_id,house_reserve_time
        from t_house_lease
        <where>
            <!-- 如果查询筛选增加了搜索文本 -->
            <if test="query.searchText != null and !query.searchText.equals(&apos;&apos;)">
                house_title like concat('%',#{query.searchText},'%') or house_address like concat('%',#{query.searchText},'%')
            </if>
            <!-- 如果查询筛选增加了市条件 -->
            <if test="query.houseAreaId != null and query.houseAreaId != &quot;&quot; and query.houseAreaId &gt; 0">
                and house_area_id = #{query.houseAreaId}
            </if>
            <!-- 如果增加了租金筛选条件 大于最小租金 小于最大租金 -->
            <if test="query.housePriceMin != null and query.housePriceMin != &quot;&quot; and query.housePriceMin &gt; 0
                and query.housePriceMax != null and query.housePriceMax != &quot;&quot; and query.housePriceMax &gt; 0">
                and house_price &gt; #{query.housePriceMin} and house_price &lt; #{query.housePriceMax}
            </if>
            <!-- 如果增加了房屋面积筛选条件 大于最小房屋面积 小于最大房屋面积 -->
            <if test="query.houseSquareMeterMin != null and query.houseSquareMeterMin != &quot;&quot; and query.houseSquareMeterMin &gt; 0
                and query.houseSquareMeterMax != null and query.houseSquareMeterMax != &quot;&quot; and query.houseSquareMeterMax &gt; 0">
                and house_square_meter &gt; #{query.houseSquareMeterMin} and house_square_meter &lt;
                #{query.houseSquareMeterMax}
            </if>
            <!-- 如果查询筛选增加了户型条件 几室几厅之类 -->
            <if test="query.houseTypeCode != null and query.houseTypeCode != &quot;&quot; and query.houseTypeCode &gt; 0">
                and house_type_code = #{query.houseTypeCode}
            </if>
            <!-- 如果查询筛选增加了房屋类型条件 住宅、别墅、公寓之类 1是不限的意思 -->
            <if test="query.houseLeasetypeId != null and query.houseLeasetypeId != &quot;&quot; and query.houseLeasetypeId &gt; 0 and query.houseLeasetypeId != 1">
                and house_leasetype_id = #{query.houseLeasetypeId}
            </if>
            <!-- 如果查询筛选增加了出租方式条件 整租、合租之类 -->
            <if test="query.houseLeasemodeId != null and query.houseLeasemodeId != &quot;&quot; and query.houseLeasemodeId &gt; 0 and query.houseLeasemodeId != 1">
                and house_leasemode_id = #{query.houseLeasemodeId}
            </if>
            <!-- 如果查询筛选增加了房屋来源条件 个人、经纪人之类 -->
            <if test="query.houseSourceId != null and query.houseSourceId != &quot;&quot; and query.houseSourceId &gt; 0 and query.houseSourceId != 1">
                and house_source_id = #{query.houseSourceId}
            </if>
            <!-- 如果查询筛选增加了房源类型条件  精装修、邻地铁之类 使用或运算 判断 存储的进制位是否包含 这个标签code -->
            <if test="query.houseAdvantageId != null">
                and #{query.houseAdvantageId} | house_advantage_id = house_advantage_id
            </if>
            and deleted  = 0
        </where>
        limit #{page},#{size}
    </select>

    <!-- 通过 常量id集合 查询 常量名称 -->
    <select id="queryHouseConstIdName" resultType="java.util.HashMap">
        select house_const_name,house_const_code from t_house_const where
        house_const_type = #{type}
        and house_const_code in
        <foreach collection="constIdList" item="code" separator="," open="(" close=")">
            #{code}
        </foreach>
    </select>

    <!-- 按家具id查出所有家具名称 -->
    <select id="queryHouseConstNameByFurnitureId" resultType="java.lang.String">
        select house_const_name from t_house_const where
        house_const_type = #{type}
        and house_const_code in
        <foreach collection="furnitureId" item="code" separator="," open="(" close=")">
            #{code}
        </foreach>
    </select>

    <!-- 按参数对象属性更新房屋出租数据 -->
    <update id="updateHouseLease">
        update t_house_lease
        <set>
            <trim  prefixOverrides=",">
                <!-- 房屋卧室类型 -->
                <if test="bedroomType != null and !bedroomType.equals(&apos;&apos;)">
                    ,bedroom_type = #{bedroomType}
                </if>
                <!-- 房屋房主称呼 -->
                <if test="appellation != null and !appellation.equals(&apos;&apos;)">
                    ,appellation = #{appellation}
                </if>
                <!-- 房屋租售标题 -->
                <if test="houseTitle != null and !houseTitle.equals(&apos;&apos;)">
                    ,house_title = #{houseTitle}
                </if>
                <!-- 房屋省id -->
                <if test="houseProvinceId != null and houseProvinceId &gt; 0">
                    ,house_province_id = #{houseProvinceId}
                </if>
                <!-- 房屋市id -->
                <if test="houseCityId != null and houseCityId &gt; 0">
                    ,house_city_id = #{houseCityId}
                </if>
                <!-- 房屋区域id -->
                <if test="houseAreaId != null and houseAreaId &gt; 0">
                    ,house_area_id = #{houseAreaId}
                </if>
                <!-- 房屋地址 -->
                <if test="houseAddress != null and !houseAddress.equals(&apos;&apos;)">
                    ,house_address = #{houseAddress}
                </if>
                <!-- 房屋标签id -->
                <if test="houseAdvantageId != null">
                    ,house_advantage_id = #{houseAdvantageId}
                </if>
                <!-- 房屋价格 -->
                <if test="housePrice != null and housePrice &gt; 0">
                    ,house_price = #{housePrice}
                </if>
                <!-- 地图经度 -->
                <if test="houseLon != null and houseLon &gt; 0">
                    ,house_lon = #{houseLon}
                </if>
                <!-- 地图纬度 -->
                <if test="houseLat != null and houseLat &gt; 0">
                    ,house_lat = #{houseLat}
                </if>
                <!-- 地图纬度 -->
                <if test="houseLat != null and houseLat &gt; 0">
                    ,house_lat = #{houseLat}
                </if>
                <!-- 房屋家具id -->
                <if test="houseFurnitureId != null">
                    ,house_furniture_id = #{houseFurnitureId}
                </if>
                <!-- 房屋出租单位 -->
                <if test="houseUnit != null and !houseUnit.equals(&apos;&apos;)">
                    ,house_unit = #{houseUnit}
                </if>
                <!-- 房屋联系人手机号 -->
                <if test="houseContact != null and !houseContact.equals(&apos;&apos;)">
                    ,house_contact = #{houseContact}
                </if>
                <!-- 房屋图片 -->
                <if test="houseImageId != null and houseImageId &gt; 0">
                    ,house_image_id = #{houseImageId}
                </if>
                <!-- 房屋租售面积 -->
                <if test="houseSquareMeter != null and houseSquareMeter &gt; 0">
                    ,house_square_meter = #{houseSquareMeter}
                </if>
                <!-- 房屋租售方式id -->
                <if test="houseLeasedepositId != null and houseLeasedepositId &gt; 0">
                    ,house_leasedeposit_id = #{houseLeasedepositId}
                </if>
                <!-- 房屋租售类型id -->
                <if test="houseTypeCode != null and houseTypeCode &gt; 0">
                    ,house_type_code = #{houseTypeCode}
                </if>
                <!-- 房屋楼层 -->
                <if test="houseFloor != null and !houseFloor.equals(&apos;&apos;)">
                    ,house_floor = #{houseFloor}
                </if>
                <!-- 房屋朝向 -->
                <if test="houseDirection != null and !houseDirection.equals(&apos;&apos;)">
                    ,house_direction = #{houseDirection}
                </if>
                <!-- 房屋来源类型id   1.个人 2.经纪人 3.不限 -->
                <if test="houseSourceId != null and houseSourceId &gt; 0 and houseSourceId &lt; 4">
                    ,house_source_id = #{houseSourceId}
                </if>
                <!-- 房屋介绍内容 -->
                <if test="houseIntroduce != null and !houseIntroduce.equals(&apos;&apos;)">
                    ,house_introduce = #{houseIntroduce}
                </if>
                <!-- 房屋介绍内容 -->
                <if test="houseIntroduce != null and !houseIntroduce.equals(&apos;&apos;)">
                    ,house_introduce = #{houseIntroduce}
                </if>
                <!-- 房屋预约时间内容 -->
                <if test="houseReserveTime != null and !houseReserveTime.equals(&apos;&apos;)">
                    ,house_reserve_time = #{houseReserveTime}
                </if>
                <!-- 房屋出租类型id  不限 普通住宅 别墅 公寓 -->
                <if test="houseLeasetypeId != null and houseLeasetypeId &gt; 0">
                    ,house_leasetype_id = #{houseLeasetypeId}
                </if>
                <!-- 房屋出租方式id  1不限(默认) 2整租，4合租 -->
                <if test="houseLeasemodeId != null and houseLeasemodeId &gt; 0">
                    ,house_leasemode_id = #{houseLeasemodeId}
                </if>
                ,update_time = now()
            </trim>
        </set>
        <where>
            id = #{id} and uid = #{uid} and deleted = 0
        </where>
    </update>

    <!-- 按id保存图片数组 -->
    <insert id="saveHouseLeaseImageById">
        insert into t_house_image
        (field_id,hid,img_url)
        values
        <foreach collection="images" item="img" separator=",">
            (#{houseImageId},#{hid},#{img})
        </foreach>
    </insert>

    <!-- 查询出租房屋单条数据 -->
    <select id="queryHouseLeaseOne" resultType="com.jsy.community.vo.lease.HouseLeaseVO">
        SELECT
            l.id,
	        l.house_contact,
	        l.appellation,
	        l.house_address,
	        l.house_image_id,
	        l.house_price,
	        l.house_unit,
	        l.house_leasedeposit_id,
	        l.house_leasemode_id,
	        l.house_title,
	        l.house_type_code,
	        l.house_square_meter,
	        l.house_floor,
	        l.house_direction,
	        l.house_advantage_id,
	        l.house_introduce,
	        l.house_furniture_id,
	        l.house_lat,
	        l.house_lon,
	        l.house_reserve_time,
	        c.house_const_name AS houseLeaseMode,
	        d.house_const_name AS houseLeaseDeposit
        FROM
	        t_house_lease AS l
	        LEFT JOIN t_house_const AS c ON l.house_leasemode_id = c.house_const_code
	        AND c.house_const_type = 11
	        LEFT JOIN t_house_const AS d ON l.house_leasedeposit_id = d.house_const_code
	        AND d.house_const_type = 1
            WHERE
	        l.id = #{houseId} and l.deleted = 0
    </select>
    <!-- 根据用户id和社区id 查出用户在这个社区下面所属的房源 -->
    <select id="ownerLeaseHouse" resultType="com.jsy.community.vo.lease.HouseLeaseVO">
        SELECT
	        l.id,
	        l.house_title,
	        l.house_square_meter,
	        l.house_address,
	        l.house_price,
	        l.house_unit,
	        l.house_image_id,
	        l.house_type_code,
	        l.bedroom_type
        FROM
	        t_house_lease AS l
        WHERE
	        l.uid = #{query.uid} and l.deleted = 0
	        ORDER BY l.create_time desc
	        LIMIT #{page},#{size}
    </select>

    <!-- 根据用户id 和社区id 查询用户在这个社区的可发布房源 -->
    <select id="ownerHouse" resultType="com.jsy.community.vo.HouseVo">
        SELECT
	        h.id,
	        concat(h.building,h.unit,h.floor,h.door) as mergeName

        FROM
	        t_user_house AS uh
	        RIGHT JOIN t_house AS h ON uh.house_id = h.id
        WHERE
        uh.check_status = 1 and uh.uid = #{uid} and uh.community_id = #{communityId} and uh.deleted = 0 and h.type = 4 and uh.deleted = 0
    </select>

    <!-- 按小区名或房屋出租标题或房屋地址模糊搜索匹配接口 -->
    <select id="searchLeaseHouseByText" resultType="com.jsy.community.vo.lease.HouseLeaseVO">
        SELECT
            l.id,
            l.house_title,
            l.house_address,
            l.house_advantage_id,
            l.house_price,
            l.house_unit,
            l.house_square_meter,
            l.house_image_id,
            l.house_type_code,
            l.house_lon,
            l.house_lat,
            l.house_furniture_id,
            l.house_leasemode_id,
            l.bedroom_type
        FROM
	        t_house_lease AS l
        WHERE
	        l.deleted = 0 and l.house_title LIKE concat('%',#{query.searchText},'%')
	    OR  l.house_address LIKE concat('%',#{query.searchText},'%') LIMIT #{page},#{size}
    </select>
    <!-- 按租金搜索出租房源匹配接口 -->
    <select id="searchLeaseHouseByPrice" resultType="com.jsy.community.vo.lease.HouseLeaseVO">
        SELECT
            l.id,
            l.house_title,
            l.house_address,
            l.house_advantage_id,
            l.house_price,
            l.house_unit,
            l.house_square_meter,
            l.house_image_id,
            l.house_type_code,
            l.house_lon,
            l.house_lat,
            l.house_furniture_id,
            l.house_leasemode_id,
            l.bedroom_type
        FROM
	        t_house_lease AS l
        WHERE
	        l.deleted = 0 and l.house_price = #{query.searchText} LIMIT #{page},#{size}
    </select>
</mapper>