<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsy.community.mapper.ShopLeaseMapper">
    <!--    <insert id="insertMiddle">-->
    <!--        insert into t_shop_const (shop_lease_id,house_const_id) values-->
    <!--        <foreach collection="tagIds" item="tagId" separator=",">-->
    <!--            (#{id},#{tagId})-->
    <!--        </foreach>-->
    <!--    </insert>-->

    <!--    <delete id="deleteTags">-->
    <!--        delete from t_shop_const where shop_lease_id  = #{shopId}-->
    <!--    </delete>-->

    <!--    <select id="selectMiddle" resultType="long">-->
    <!--        SELECT DISTINCT shop_lease_id FROM `t_shop_const` where house_const_id in-->
    <!--        <foreach collection="list" open="(" close=")" separator="," item="id">-->
    <!--            #{id}-->
    <!--        </foreach>-->
    <!--    </select>-->

    <!--    <select id="selectTypeTags" resultType="long">-->
    <!--        SELECT-->
    <!--		    tsc.house_const_id-->
    <!--		FROM-->
    <!--		    t_shop_lease tsl-->
    <!--		INNER JOIN t_shop_const tsc ON tsl.id = tsc.shop_lease_id-->
    <!--		INNER JOIN t_house_const thc on thc.id = tsc.house_const_id-->
    <!--		where tsl.id = #{shopId} and thc.house_const_type = 7-->
    <!--    </select>-->


    <!--    <select id="selectBusinessTags" resultType="long">-->
    <!--        SELECT-->
    <!--		    tsc.house_const_id-->
    <!--		FROM-->
    <!--		    t_shop_lease tsl-->
    <!--		INNER JOIN t_shop_const tsc ON tsl.id = tsc.shop_lease_id-->
    <!--		INNER JOIN t_house_const thc on thc.id = tsc.house_const_id-->
    <!--		where tsl.id = #{shopId} and thc.house_const_type = 8-->
    <!--    </select>-->

    <select id="getShopByCondition" resultType="com.jsy.community.entity.shop.ShopLeaseEntity">
        select * from t_shop_lease
        <where>
            deleted = 0
            <!-- 搜索文本 -->
            <if test="qo.query.searchText!=null and qo.query.searchText!=''">
                and title like concat ("%",#{qo.query.searchText},"%")
            </if>
            <!-- 地区 -->
            <if test="qo.query.houseAreaId!=null and qo.query.houseAreaId!=0">
                and area_id = #{qo.query.houseAreaId}
            </if>
            <!-- 租金范围 -->
            <if test="qo.query.housePriceMin != null and qo.query.housePriceMin != 0">
                and month_money &gt;= #{qo.query.housePriceMin}
            </if>
            <if test="qo.query.housePriceMax != null and qo.query.housePriceMax != 0">
                and month_money &lt;= #{qo.query.housePriceMax}
            </if>
            <!-- 面积 -->
            <if test="qo.query.houseSquareMeterMin != null and qo.query.houseSquareMeterMin!=0">
                and shop_acreage &gt;= #{qo.query.houseSquareMeterMin}
            </if>
            <if test="qo.query.houseSquareMeterMax != 0 and qo.query.houseSquareMeterMax != null">
                and shop_acreage &lt;= #{qo.query.houseSquareMeterMax}
            </if>

            <!-- 所属类型id -->
            <if test="qo.query.shopBusinessIdArrays!=null and qo.query.shopBusinessIdArrays.length!=0">
                and shop_business_id in (
                <foreach collection="qo.query.shopBusinessIdArrays" item="id" separator=",">
                    #{id}
                </foreach>
                )
            </if>
            <!-- 所属行业id -->
            <if test="qo.query.shopTypeIdArrays !=null  and qo.query.shopTypeIdArrays.length!=0">
                and shop_type_id in (
                <foreach collection="qo.query.shopTypeIdArrays" item="id" separator=",">
                    #{id}
                </foreach>
                )
            </if>
            <!-- 来源 传3就是来源不限-->
            <if test="qo.query.houseSourceId!=null and qo.query.houseSourceId!=0">
                and source = #{qo.query.houseSourceId}
            </if>
        </where>
        order by create_time desc
    </select>
    <select id="selectByShopId" resultType="com.jsy.community.entity.shop.ShopLeaseEntity">
        select * from t_shop_lease where id=#{shopId}
    </select>

</mapper>
