<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsy.community.mapper.ShopLeaseMapper">
    <insert id="insertMiddle">
        insert into t_shop_const (shop_lease_id,house_const_id) values
        <foreach collection="tagIds" item="tagId" separator=",">
            (#{id},#{tagId})
        </foreach>
    </insert>

    <delete id="deleteTags">
        delete from t_shop_const where house_const_id in
        <foreach collection="tagIds" item="tagId" separator="," open="(" close=")">
            #{tagId}
        </foreach>
    </delete>

    <select id="selectMiddle" resultType="long">
        SELECT DISTINCT shop_lease_id FROM `t_shop_const` where house_const_id in
        <foreach collection="list" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </select>

    <select id="selectTypeTags" resultType="long">
        SELECT
		    tsc.house_const_id
		FROM
		    t_shop_lease tsl
		INNER JOIN t_shop_const tsc ON tsl.id = tsc.shop_lease_id
		INNER JOIN t_house_const thc on thc.id = tsc.house_const_id
		where tsl.id = #{shopId} and thc.house_const_type = 7
    </select>


    <select id="selectBusinessTags" resultType="long">
        SELECT
		    tsc.house_const_id
		FROM
		    t_shop_lease tsl
		INNER JOIN t_shop_const tsc ON tsl.id = tsc.shop_lease_id
		INNER JOIN t_house_const thc on thc.id = tsc.house_const_id
		where tsl.id = #{shopId} and thc.house_const_type = 8
    </select>

</mapper>
