<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jsy.community.mapper.AdminCommunityInformMapper">
    <!-- 更新消息发布状态 -->
    <update id="updatePushState">
        update t_push_inform
        <set>
            push_state = #{pushState},
            update_by = #{updateBy},
            update_time = now(),
            <if test="pushState == 2">
                top_state = 0
            </if>
        </set>
        where id = #{id}
    </update>
    <!--根据推送帐号id 和 uid 查询用户未读的推送消息id-->
    <select id="selectUnreadInformId" resultType="java.lang.Long">
        SELECT
	        i.id
        FROM
	        t_push_inform AS i
        WHERE
	    (
	    SELECT
		    COUNT( 1 )
	    FROM
		    t_user_inform AS u
	    WHERE
		    u.inform_id = i.id
		    AND u.uid = #{uid}
		    AND u.acct_id = #{acctId}
	    ) = 0
	    AND i.acct_id = #{acctId} and i.deleted = 0
    </select>
    <!-- 标记当前用户 已读消息列表 -->
    <insert id="insertBatchReadInform">
        insert into t_user_inform(id,acct_id,inform_id,uid,create_time)
        values
        <foreach collection="ids" item="id" separator=",">
            (${@com.jsy.community.utils.SnowFlake@nextId()},#{acctId},#{id},#{uid},now())
        </foreach>
    </insert>
</mapper>