<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsy.community.mapper.AppMenuMapper">
    <select id="getMenuIdByCommunityId" resultType="long">
        SELECT menu_id
        FROM t_menu_community
        where community_id = #{communityId}
    </select>

    <insert id="insertMiddleMenu">
        insert into t_menu_community (community_id,menu_id,sort) values
        <foreach collection="appMenuVOS" item="appMenu" separator=",">
            (#{appMenu.communityId},#{appMenu.menuId},#{appMenu.sort})
        </foreach>

    </insert>

    <select id="listMenu">
        SELECT *
        FROM t_menu_community
        where community_id = #{communityId}
    </select>

    <select id="listMenuId" resultType="java.util.HashMap">
        select menu_id, sort from t_menu_community where community_id = #{communityId}
    </select>

    <delete id="deleteMiddleMenu">
        delete from t_menu_community where community_id = #{id}
    </delete>


    <select id="getMiddleMenu" resultType="java.util.HashMap">
        select community_id,menu_id,sort from t_menu_community where menu_id = #{id} and community_id = #{communityId}
    </select>
</mapper>
