<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsy.community.mapper.AppMenuMapper">
    <select id="getMenuIdByCommunityId" resultType="long">
        SELECT menu_id
        FROM t_menu_community
        where community_id = #{communityId}
    </select>

    <insert id="insertMiddleMenu">
        insert into t_menu_community (community_id,menu_id,sort) values
        <foreach collection="appMenuEntityList" item="appMenu" separator=";" open="(" close=")">
            #{appMenu.communityId},#{appMenu.id},#{appMenu.sort}
        </foreach>

    </insert>

    <select id="listMenu">
        SELECT *
        FROM t_menu_community
        where community_id = #{communityId}
    </select>

    <select id="listMenuId" resultType="long">
        select menu_id from t_menu_community where community_id = #{communityId}
    </select>

    <delete id="deleteMiddleMenu">
        delete from t_menu_community where community_id =
        <foreach collection="ids" open="(" close=")" separator=";" item="id">
            #{id}
        </foreach>
    </delete>
</mapper>
