<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsy.community.mapper.CarPositionMapper">

<insert id="seavefile" parameterType="List">

    insert into t_car_position(
                               community_id,
                               uid,
                               type_id,
                               car_position,
                               car_pos_status,
                               area,
                               belong_house,
                               owner_phone,
                               user_name,
                               remark,
                               binding_status,
                               begin_time,
                               end_time,
                               price,
                               monthly_price)
    values
    <foreach collection="list" item="listRelation" separator="," open="" close="">

    (   #{listRelation.communityId},
        (select com.uid from t_user as com where com.mobile=#{listRelation.ownerPhone} and  com.real_name=#{listRelation.userName}),
        (select ty.id from t_car_position_type  as ty where ty.description=#{listRelation.typeCarPosition}),
        #{listRelation.carPosition},
        0,
        #{listRelation.area},
        #{listRelation.belongHouse},
        #{listRelation.ownerPhone},
        #{listRelation.userName},
        #{listRelation.remark},
        0,
        #{listRelation.beginTime,javaType=DATE},
        #{listRelation.endTime,javaType=DATE},
        #{listRelation.price},
        #{listRelation.monthlyPrice}   )
    </foreach>
</insert>


    <sql id="carPosition_select">
        <if test="area != null">
            AND car.area = #{area}
        </if>
        <if test="userName != ''">
            /*AND car.user_name  like concat('%',#{userName},'%')*/
             /*AND car.user_name  like '%${userName}%'*/
             AND car.user_name  like "%"#{userName}"%"
        </if>
    </sql>

    <!-- 使用sql片段 -->
    <select id="selectCarPosition" parameterType="com.jsy.community.entity.property.CarPositionEntity" resultType="com.jsy.community.entity.property.CarPositionEntity">
        SELECT * FROM t_car_position as car
        <where>
            <include refid="carPosition_select"></include>
        </where>
    </select>

    <select id="getAllCarPositionByCommunity" resultType="com.jsy.community.entity.property.CarPositionEntity">
        select
        *
        from t_car_position
        <where>
            community_id = #{communityId}
            and deleted = 0
        </where>
    </select>

    <update id="relieve" parameterType="Long"  >
    UPDATE t_car_position as par
    set par.uid=null,
    par.house_id=null,
    par.car_pos_status=0,
    par.belong_house=null,
    par.owner_phone=null,
    par.binding_status=0,
    par.begin_time=null,
    par.end_time=null,
    par.user_name=null,
    par.car_number=null,
    par.car_proprietor_id=null
    WHERE id=#{id}
    </update>

    <select id="selectAllCarPositionByCommunityIds" resultType="java.lang.Integer">
        select count(0) from t_car_position where community_id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectAllOccupyCarPositionByCommunityIds" resultType="java.lang.Integer">
        select count(0) from t_car_position where car_pos_status &lt;&gt; 0 and community_id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="queryBindCarPositionByMobile" resultType="java.lang.Long">
        select id from t_car_position where owner_phone = #{mobile} and community_id = #{communityId} and deleted = 0
    </select>
</mapper>
