<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jsy.community.mapper.CommunityHardWareMapper">
    <!-- 查询社区的设备列表 -->
    <select id="selectAllByCommunityId" resultType="com.jsy.community.entity.CommunityHardWareEntity">
        select * from t_community_hardware where community_id = #{communityId}
    </select>
</mapper>