<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsy.community.mapper.FacilityMapper">
    <select id="listFacility" resultType="com.jsy.community.entity.hk.FacilityEntity">
        select f.id,number ,name ,facility_type_id,serial_number,ip,model_number,address,create_person,create_time,data_connect_time,remark,is_connect_data,username,password,port,facility_effect_id
        from t_facility f,t_facility_status fs
        <where>
            <if test="qo.startTime!=null">
                and data_connect_time &gt; #{qo.startTime}
            </if>
            <if test="qo.endTime!=null">
                and data_connect_time &lt;  #{qo.endTime}
            </if>
            <if test="qo.isConnectData!=null">
                and is_connect_data = #{qo.isConnectData}
            </if>
            <!-- 设备在线状态 -->
            <if test="qo.status!=null">
                and status = #{qo.status}
            </if>
            <!-- 是否仅展示需要同步数据的设备 -->
            <if test="qo.isConnectData!=null">
                and is_connect_data = #{qo.isConnectData}
            </if>
            <!-- 设备搜索条件 -->
            <if test="qo.searchText!=null and qo.searchText!=''">
                and number like concat("%",#{qo.searchText},"%") or name like concat("%",#{qo.searchText},"%") or facility_type_name like concat("%",#{qo.searchText},"%") or remark like concat("%",#{qo.searchText},"%")
            </if>
            and deleted = 0 and community_id = #{qo.communityId} and f.id = facility_id
        </where>
        order by create_time desc
    </select>


    <insert id="insertFacilityStatus">
        insert into t_facility_status (id,status,facility_id,create_time) values (#{id},#{status},#{facilityId},now())
    </insert>

    <select id="selectId" resultType="long">
        select id from t_facility where community_id = #{communityId}
    </select>


    <delete id="deleteMiddleFacilityIds">
        delete from t_facility_status where facility_id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <update id="updateMiddleStatus">
        update t_facility_status set status = #{status} where facility_id = #{id}
    </update>

    <select id="getFacilityIdByTypeId" resultType="long">
        select id from t_facility where community_id = #{communityId} and facility_type_id = #{typeId}
    </select>

    <update id="updateStatusByFacilityId">
        update t_facility_status set status = #{online} where facility_id = #{id}
    </update>

    <!-- 批量查询设备对应句柄 -->
    <select id="selectFacilityHandleBatch" resultType="Map">
        select facility_id,facility_handle from t_facility_status
        where facility_id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <!-- 此代码留着 供参考 -->
    <!-- 批量修改状态 -->
<!--    <update id="updateStatusByFacilityIdBatch">-->
<!--        update t_facility_status-->
<!--        set facility_handle = case facility_id-->
<!--        <foreach collection="list" item="item">-->
<!--            when #{item.facility_id} then #{item.facility_handle}-->
<!--        </foreach>-->
<!--        end-->
<!--        where facility_id in-->
<!--        <foreach collection="ids" item="id" separator="," open="(" close=")">-->
<!--            #{id}-->
<!--        </foreach>-->
<!--    </update>-->

    <!-- 批量修改状态 -->
    <update id="updateStatusByFacilityIdBatch" parameterType="java.util.Map">
        update t_facility_status
        set status = case facility_id
        <foreach collection="map.entrySet()" index="key" item="value">
            when #{key} then #{value}
        </foreach>
        end
        where facility_id in
        <foreach collection="map.entrySet()" index="key" separator="," open="(" close=")">
            #{key}
        </foreach>
    </update>

    <!-- 批量查询设备在线状态 -->
    <select id="getStatusBatch" resultType="Map">
        select facility_id,status from t_facility_status
        where facility_id in
        <foreach collection="idList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>


</mapper>
