<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jsy.community.mapper.FinanceTicketTemplateFieldMapper">
    <insert id="batchInsert">
        insert into t_property_finance_ticket_template_field (
            id,
            template_id,
            field_id,
            location_type,
            name,
            name_en,
            sort
        ) values
        <foreach collection="list" separator="," item="ticketTemplateFieldEntity" >
            (
                #{ticketTemplateFieldEntity.id},
                #{ticketTemplateFieldEntity.templateId},
                #{ticketTemplateFieldEntity.fieldId},
                #{ticketTemplateFieldEntity.locationType},
                #{ticketTemplateFieldEntity.name},
                #{ticketTemplateFieldEntity.nameEn},
                #{ticketTemplateFieldEntity.sort}
            )
        </foreach>
    </insert>
</mapper>