<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.jsy.community.mapper.HouseMapper">

	<!-- 查询下级house -->
	<select id="getSubIdList" parameterType="java.util.List" resultType="Long">
		select id from t_house
		where deleted = 0 and pid in
		<foreach collection="list" item="item" separator="," open="(" close=")">
			#{item}
		</foreach>
	</select>

	<!-- 添加次级房屋单位 -->
	<insert id="addSub">
		insert into t_house(id,code,community_id,building,unit,floor,door,pid,type,comment)
		select #{houseEntity.id},#{houseEntity.code},community_id,
		if(building != '',building,#{houseEntity.building}),
		if(unit != '',unit,#{houseEntity.unit}),
		if(floor != '',floor,#{houseEntity.floor}),
		if(door != '',door,#{houseEntity.door}),
		id,#{houseEntity.type},#{houseEntity.comment}
		from t_house
		where id = #{houseEntity.pid}
	</insert>
	<!-- 按社区id获取社区名称 和社区 房间数量 -->
	<select id="getCommunityNameAndUserAmountById"  resultType="java.util.HashMap">
		select c.name,(SELECT count(*) from t_house where community_id = c.id and type = 4) as communityUserNum from t_community as c where  c.deleted = 0 and c.id = #{communityId}
	</select>

	<!-- 按社区ID获取 社区名称 社区用户名和社区-->
	<select id="getCommunityNameAndUserInfo"  resultMap="useNameInfoMap">
		select DISTINCT u.real_name,u.uid,c.name from t_user as u left join t_user_house as h on u.uid = h.uid JOIN t_community as c on h.community_id = c.id where u.deleted = 0 and h.deleted = 0 and c.deleted = 0 and h.community_id = #{communityId}
	</select>
	<resultMap id="useNameInfoMap" type="com.jsy.community.entity.UserEntity">
		<result column="real_name" property="realName"/>
		<result column="uid" property="uid"/>
		<!--由于实体字段信息并不会返回到前端，所以我这里直接用UserEntity的nickname字段来封装 社区名称-->
		<result column="name" property="nickname"/>
	</resultMap>

	<!-- 通过社区ID查出所有 楼栋、单元、楼层、门牌、作为excel 下拉选择字符串 -->
	<select id="getCommunityArchitecture" resultType="com.jsy.community.entity.HouseEntity">
		SELECT DISTINCT
			h.building,
			h.unit,
			h.floor,
			h.door,
			h.id
		FROM
			t_house AS h
		LEFT JOIN t_user_house AS uh ON h.id = uh.house_id and uh.deleted = 0
		WHERE
			uh.id IS NULL
		AND h.deleted = 0
		AND h.community_id = #{communityId}
	</select>
</mapper>
