<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.jsy.community.mapper.HouseMapper">

	<select id="getSubIdList" parameterType="java.util.List" resultType="Long">
		select id from t_house
		where pid in
		<foreach collection="list" item="item" separator="," open="(" close=")">
			#{item}
		</foreach>
	</select>

	<insert id="addHouse">
		insert into t_house (code,community_id,building,unit,floor,door,pid,type,comment)
		select #{houseEntity.code},#{houseEntity.communityId},#{houseEntity.building},#{houseEntity.unit},#{houseEntity.floor},#{houseEntity.door},#{houseEntity.pid},#{houseEntity.type},#{houseEntity.comment} from dual
		where EXISTS (select id from t_house where id = #{houseEntity.pid}) or #{houseEntity.pid} = 0
	</insert>

</mapper>
