<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jsy.community.mapper.PropertyFaceSyncRecordMapper">
    <!-- 批量新增同步记录 -->
    <insert id="batchInsertSyncRecord">
        insert into t_property_face_sync_record (
            id,
            porperty_face_id,
            community_id,
            face_url,
            facility_id,
            create_time,
            update_time,
            deleted
        ) values
        <foreach collection="list" separator="," item="recordEntity">
            (
                #{recordEntity.id},
                #{recordEntity.porpertyFaceId},
                #{recordEntity.communityId},
                #{recordEntity.faceUrl},
                #{recordEntity.facilityId},
                #{recordEntity.createTime},
                null,
                #{recordEntity.deleted}
            )
        </foreach>
    </insert>
    <!-- 查询物业人脸信息 -->
    <select id="queryByMobile" resultType="com.jsy.community.entity.property.PropertyFaceSyncRecordEntity">
        select tpf.face_url from t_property_face tpf
        left join t_property_face_sync_record tpfsr on tpfsr.porperty_face_id = tpf.id and tpfsr.face_url = tpf.face_url
        where tpfsr.face_url is not null
        and tpfsr.deleted = 0
        and tpf.deleted = 0
        and tpf.mobile = #{mobile}
        and tpf.community_id = #{communityId}
        limit 1
    </select>
</mapper>