<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jsy.community.mapper.PropertyFeeRuleMapper">

    <select id="findList" resultType="com.jsy.community.vo.property.FeeRuleVO">
        select id,status,name,report_status,formula,valuation,monetary_unit,period,create_time,relevance,relevance_type from t_property_fee_rule where deleted=0 order by create_time desc limit #{page},#{size}
    </select>
    <select id="findTotal" resultType="java.lang.Integer">
        select count(*) from  t_property_fee_rule where deleted=0
    </select>

    <!-- 查询项目名称 -->
    <select id="selectFeeRuleIdName" resultType="Map">
        select id,name from t_property_fee_rule
        where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and deleted = 0
    </select>

    <select id="selectFeeRuleIdList" resultType="java.lang.Long">
        select id from t_property_fee_rule where name like concat('%',#{feeRuleName},'%') and deleted = 0 and community_id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>