<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsy.community.mapper.PropertyRelationMapper">

    <sql id="Query">
        <where>
            (thm.deleted=0 and tu.deleted=0 and th.deleted=0)
            <if test="query.communityId!=null and query.communityId!=0">
                and thm.community_id=#{query.communityId}
            </if>
            <if test="query.name!=null and query.name!=''">
                and thm.name like concat('%',#{query.name},'%')
            </if>
            <if test="query.ownerName!=null and query.ownerName!=''">
                and tu.real_name like concat('%',#{query.ownerName},'%')
            </if>
            <if test="query.houseId!=null and query.houseId>0">
                and th.id=#{query.houseId}
            </if>
            <if test="query.buildingId!=null and query.buildingId>0">
                and th.id=#{query.buildingId}
            </if>
            <if test="query.unitId!=null and query.unitId>0">
                and th.id=#{query.unitId}
            </if>
        </where>
    </sql>

    <select id="list" resultMap="PropertyRelationMap">
        SELECT CONCAT(th.building,"-",th.unit,"-",th.floor,"-",th.door) as housing,
        thm.name as memberName,thm.mobile as mobile,thm.id_card as idCard,thm.relation as relation,
        tu.real_name as ownerName,tu.id_card as ownerIdCard,tu.mobile as ownerMobile,
        th.building as building,th.unit as unit,th.floor as floor,th.house_type as houseType,thm.create_time as createTime
        FROM t_house_member thm
        left join t_user tu on tu.uid=thm.householder_id
        left join t_house th on thm.house_id=th.id
        <include refid="Query"></include>
        limit #{page},#{size}
    </select>
    <select id="getTotal" resultType="long">
        SELECT count(*)
        FROM t_house_member thm
        left join t_user tu on tu.uid=thm.householder_id
        left join t_house th on thm.house_id=th.id
        <include refid="Query"></include>
    </select>

    <!-- 2021.7.9 去除查询条件 and tuh.check_status=1 -->
    <select id="getHouseId" resultMap="HouseTypeMap">
        select t.id as id,concat(t.number,"-",t.code) as name
        from t_user_house tuh
        join t_house t on t.id=tuh.house_id
        where tuh.community_id=#{query.communityId}
        <if test="query.name!=null and query.name!=''">
            and t.number like concat("%",#{query.name},"%")
        </if>
        limit #{page},#{size}
    </select>
    <select id="getBuildingId" resultMap="HouseTypeMap">
        select t.id as id,concat(t.number,"-",t.building) as name from t_house t where t.type=1 and t.community_id=#{query.communityId}
        <if test="query.name!=null and query.name!=''">
            and t.building like concat("%",#{query.name},"%")
        </if>
         limit #{page},#{size}
    </select>
    <select id="getUnitId" resultMap="HouseTypeMap">
        select t.id as id,concat(t.number,"-",t.unit) as name from t_house t where t.type=2 and t.community_id=#{query.communityId}
        <if test="query.name!=null and query.name!=''">
            and t.unit like concat("%",#{query.name},"%")
        </if>
        limit #{page},#{size}
    </select>

    <select id="pageList" resultType="com.jsy.community.vo.property.HouseMemberVO">
        SELECT thm.id as id,thm.house_id as houseId,thm.name as name,thm.mobile as mobile,CONCAT(th.building,th.unit,th.door) as houseSite,thm.relation as relation,thm.valid_time as validTime,thm.login_time as loginTime
        FROM t_house_member thm
        left JOIN t_house th
        on thm.house_id=th.id
        <include refid="memberQuery"></include>
        ORDER BY thm.house_id
        DESC limit #{page},#{size}
    </select>
    <select id="pageListTotal" resultType="java.lang.Long">
        SELECT count(*)
        FROM t_house_member thm
        left JOIN t_house th
        on thm.house_id=th.id
        <include refid="memberQuery"></include>
    </select>
    <update id="emigrations">
        update t_house_member set status=2 where id in
        <foreach collection="ids" separator="," open="(" close=")" item="id">
            #{id}
        </foreach>
    </update>
    <delete id="deletes">
        delete from t_house_member where id in
        <foreach collection="longAry" separator="," open="(" close=")" item="id">
            #{id}
        </foreach>
    </delete>
<!--    <select id="queryExportRelationExcel" resultType="com.jsy.community.vo.property.HouseMemberVO">-->
<!--        SELECT thm.id as id,thm.house_id as houseId,tu.nickname as appName,thm.name as name,thm.mobile as mobile,CONCAT(th.building,th.unit,th.door) as houseSite,thm.relation as relation,thm.valid_time as validTime,thm.login_time as loginTime-->
<!--        FROM t_house_member thm-->
<!--        LEFT JOIN t_user tu-->
<!--        on thm.uid=tu.uid-->
<!--        left JOIN t_house th-->
<!--        on thm.house_id=th.id-->
<!--        <include refid="memberQuery"></include>-->
<!--        ORDER BY thm.house_id-->
<!--        DESC-->
<!--    </select>-->
    <select id="queryExportRelationExcel" resultType="com.jsy.community.vo.property.HouseMemberVO">
        SELECT thm.id as id,thm.uid as uid,thm.house_id as houseId,thm.name as name,thm.mobile as mobile,CONCAT(th.building,th.unit,th.door) as houseSite,thm.relation as relation,thm.valid_time as validTime,thm.login_time as loginTime
        FROM t_house_member thm
        left JOIN t_house th
        on thm.house_id=th.id
        <include refid="memberQuery"></include>
        ORDER BY thm.house_id
        DESC
    </select>
    <insert id="saveList">
        insert into t_house_member (id,community_id,name,sex,relation,mobile,house_id,birthday,enter_time,enter_reason,credit_card,unit) values
        <foreach collection="list" separator="," item="item">
            (
            #{item.id},#{item.communityId},#{item.name},#{item.sex},#{item.relation},#{item.mobile},#{item.houseId},#{item.birthday},#{item.enterTime},#{item.enterReason},#{item.creditCard},#{item.unit}
            )
        </foreach>
    </insert>
    <sql id="memberQuery">
        <where>
            thm.deleted=0 and th.deleted=0
            <if test="query.communityId!=null and query.communityId!=0">
                and thm.community_id=#{query.communityId}
            </if>
            <if test="query.key!=null and query.key!=''">
                and (thm.name like concat("%",#{query.key},"%") or thm.mobile like concat("%",#{query.key},"%") or th.number like concat("%",#{query.key},"%"))
            </if>
            <if test="query.status!=null and query.status!=0">
                and thm.status=#{query.status}
            </if>
            <if test="query.relation!=null">
                and thm.relation=#{query.relation}
            </if>
            <if test="query.houseId!=null and query.houseId!=0">
                and thm.house_id=#{query.houseId}
            </if>
            <if test="query.tally!=null and query.tally!=0">
                and thm.tally=#{query.tally}
            </if>
        </where>
    </sql>


    <resultMap id="PropertyRelationMap" type="com.jsy.community.vo.PropertyRelationVO">
        <result property="housing" column="housing"/>
        <result property="memberName" column="memberName"/>
        <result property="houseType" column="houseType"/>
        <result property="floor" column="floor"/>
        <result property="unit" column="unit"/>
        <result property="building" column="building"/>
        <result property="mobile" column="mobile"/>
        <result property="idCard" column="idCard"/>
        <result property="relation" column="relation"/>
        <result property="ownerName" column="ownerName"/>
        <result property="ownerIdCard" column="ownerIdCard"/>
        <result property="ownerMobile" column="ownerMobile"/>
        <result property="createTime" column="createTime"/>
    </resultMap>
    <resultMap id="HouseTypeMap" type="com.jsy.community.vo.FeeRelevanceTypeVo">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>
</mapper>
