<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsy.community.mapper.TenementMapper">
    <sql id="Query">
        <where>
            thm.community_id=#{query.communityId} and thm.deleted=0 and tu.deleted=0 and th.deleted=0
            <if test="query.name!=null and query.name!=''">
                and thm.name like concat('%',#{query.name},'%')
            </if>
            <if test="query.ownerName!=null and query.ownerName!=''">
                and tu.real_name like concat('%',#{query.ownerName},'%')
            </if>
            <if test="query.houseId!=null and query.houseId>0">
                and th.id=#{query.houseId}
            </if>
            <if test="query.buildingId!=null and query.buildingId>0">
                and th.id=#{query.buildingId}
            </if>
            <if test="query.unitId!=null and query.unitId>0">
                and th.id=#{query.unitId}
            </if>
        </where>
    </sql>

    <select id="list" resultMap="PropertyRelationMap">
        SELECT CONCAT(th.building,'-',th.unit,'-',th.floor,'-',th.door) as housing,
        thm.name as tenementName,thm.mobile as mobile,thm.id_card as idCard,
        tu.real_name as ownerName,tu.id_card as ownerIdCard,tu.mobile as ownerMobile,
        thm.lease_over_time as leaseOverTime,thm.lease_start_time as leaseStartTime,
        th.unit as unit,th.floor as floor,th.house_type as houseType,thm.create_time as createTime
        FROM t_house_tenement thm
        join t_user tu on tu.uid=thm.householder_id
        join t_house th on thm.house_id=th.id
        <include refid="Query"></include>
        limit #{page},#{size}
    </select>
    <select id="getTotal" resultType="long">
        SELECT count(*)
        FROM t_house_member thm
        join t_user tu on tu.uid=thm.householder_id
        join t_house th on thm.house_id=th.id
        <include refid="Query"></include>
    </select>
    <select id="getHouseId" resultMap="HouseTypeMap">
        select distinct t.id as id,t.number as name from t_house t where t.community_id=#{query.communityId} and t.number like concat("%",#{query.name},"%") limit #{page},#{size}
    </select>
    <select id="getBuildingId" resultMap="HouseTypeMap">
        select distinct t.id as id,t.building as name from t_house t where t.community_id=#{query.communityId} and t.building like concat("%",#{query.name},"%") limit #{page},#{size}
    </select>
    <select id="getUnitId" resultMap="HouseTypeMap">
        select distinct t.id as id,t.unit as name from t_house t where t.community_id=#{query.communityId} and t.unit like concat("%",#{query.name},"%") limit #{page},#{size}
    </select>


    <resultMap id="PropertyRelationMap" type="com.jsy.community.vo.PropertyTenementVO">
        <result property="housing" column="housing"/>
        <result property="building" column="building"/>
        <result property="unit" column="unit"/>
        <result property="floor" column="floor"/>
        <result property="leaseOverTime" column="leaseOverTime"/>
        <result property="leaseStartTime" column="leaseStartTime"/>
        <result property="mobile" column="mobile"/>
        <result property="idCard" column="idCard"/>
        <result property="tenementName" column="tenementName"/>
        <result property="ownerName" column="ownerName"/>
        <result property="ownerIdCard" column="ownerIdCard"/>
        <result property="ownerMobile" column="ownerMobile"/>
        <result property="createTime" column="createTime"/>
    </resultMap>
    <resultMap id="HouseTypeMap" type="com.jsy.community.vo.HouseTypeVo">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>
</mapper>
