<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsy.community.mapper.UserHouseMapper">

    <!-- 2021.7.9 去除查询条件 and check_status = 1 -->
    <select id="listAuthUserId" resultType="string">
        select uid from t_user_house where community_id = #{communityId}
    </select>
</mapper>
