<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsy.community.mapper.UserMapper">


    <select id="listAuthUserInfo" resultType="com.jsy.community.entity.UserEntity">
        select * from t_user where uid in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <!-- 人脸管理查询人脸分页列表 -->
    <select id="queryFacePageList" resultType="com.jsy.community.entity.UserEntity">
        SELECT
            DISTINCT tu.uid,
            tu.real_name as realName,
            tu.mobile,
            tu.id,
            tu.face_url as faceUrl,
            tu.face_enable_status as faceEnableStatus,
            CASE tu.face_enable_status
            WHEN 1 THEN '启用'
            WHEN 2 THEN '禁用'
            END AS faceEnableStatusStr,
            tu.create_time as createTime,
            CASE
            (
                (SELECT count( tfsr.id ) FROM t_user_face_sync_record tfsr
                    WHERE tfsr.uid = tu.uid
                    AND tfsr.face_url = tu.face_url
                    AND tfsr.community_id = #{userEntity.communityId}
                    AND tfsr.deleted = 0
                )
                &gt;
                (SELECT count( tch.id ) FROM t_community_hardware tch
                    WHERE tch.community_id = #{userEntity.communityId}
                    AND tch.deleted = 0
                )
            )
            WHEN TRUE
            THEN '失败'
            ELSE '成功'
            END AS distributionStatusStr
        FROM
            t_user tu
            LEFT JOIN t_house_member thm ON thm.uid = tu.uid
        WHERE
            tu.face_url IS NOT NULL
            AND thm.community_id = #{userEntity.communityId}
            AND tu.deleted = 0
            AND thm.deleted = 0
            <if test="userEntity.keyword != null and userEntity.keyword != ''">
                AND (tu.real_name like concat('%', #{userEntity.keyword}, '%') OR tu.mobile like concat('%', #{userEntity.keyword}, '%'))
            </if>
            <if test="userEntity.faceEnableStatus != null">
                AND tu.face_enable_status = #{userEntity.faceEnableStatus}
            </if>
            <if test="userEntity.distributionStatus != null and userEntity.distributionStatus == 1">
                AND CASE
                    (
                        (
                            SELECT count( tfsr.id ) FROM t_user_face_sync_record tfsr
                            WHERE tfsr.uid = tu.uid
                            AND tfsr.face_url = tu.face_url
                            AND tfsr.community_id = #{userEntity.communityId}
                            AND tfsr.deleted = 0
                        )
                        &gt;
                        (
                            SELECT count( tch.id ) FROM t_community_hardware tch
                            WHERE tch.community_id = #{userEntity.communityId}
                            AND tch.deleted = 0
                        )
                    )
                    WHEN TRUE
                    THEN 1
                    ELSE 2
                    END = 1
            </if>
        <if test="userEntity.distributionStatus != null and userEntity.distributionStatus == 2">
            AND CASE
                (
                    (
                        SELECT count( tfsr.id ) FROM t_user_face_sync_record tfsr
                        WHERE tfsr.uid = tu.uid
                        AND tfsr.face_url = tu.face_url
                        AND tfsr.deleted = 0
                    )
                    &gt;
                    (
                        SELECT count( tch.id ) FROM t_community_hardware tch
                        WHERE tch.community_id = 1 AND tch.deleted = 0
                    )
                )
                WHEN TRUE
                THEN 1
                ELSE 2
                END = 2
        </if>
        <if test="userEntity.houseId != null">
            AND thm.house_id = #{userEntity.houseId}
        </if>
        <if test="userEntity.relationCode != null">
            AND thm.relation = #{userEntity.relationCode}
        </if>
        group by tu.uid, thm.relation
        limit #{startNum}, #{endNum}
    </select>
    <!-- 人脸管理查询人脸分页总数 -->
    <select id="queryFacePageListCount" resultType="java.lang.Integer">
        SELECT
            count(DISTINCT tu.uid)
        FROM t_user tu
        LEFT JOIN t_house_member thm ON thm.uid = tu.uid
        WHERE
            tu.face_url IS NOT NULL
            AND thm.community_id = #{userEntity.communityId}
            AND tu.deleted = 0
            AND thm.deleted = 0
            <if test="userEntity.keyword != null and userEntity.keyword != ''">
                AND (tu.real_name like concat('%', #{userEntity.keyword}, '%') OR tu.mobile like concat('%', #{userEntity.keyword}, '%'))
            </if>
            <if test="userEntity.faceEnableStatus != null">
                AND tu.face_enable_status = #{userEntity.faceEnableStatus}
            </if>
            <if test="userEntity.distributionStatus != null and userEntity.distributionStatus == 1">
                AND CASE
                    (
                        (
                            SELECT count( tfsr.id ) FROM t_user_face_sync_record tfsr
                            WHERE tfsr.uid = tu.uid
                            AND tfsr.face_url = tu.face_url
                            AND tfsr.community_id = #{userEntity.communityId}
                            AND tfsr.deleted = 0
                        )
                        &gt;
                        (
                            SELECT count( tch.id ) FROM t_community_hardware tch
                            WHERE tch.community_id = #{userEntity.communityId}
                            AND tch.deleted = 0
                        )
                    )
                    WHEN TRUE
                    THEN 1
                    ELSE 2
                    END = 1
            </if>
            <if test="userEntity.distributionStatus != null and userEntity.distributionStatus == 2">
                AND CASE
                    (
                        (
                            SELECT count( tfsr.id ) FROM t_user_face_sync_record tfsr
                            WHERE tfsr.uid = tu.uid
                            AND tfsr.face_url = tu.face_url
                            AND tfsr.community_id = #{userEntity.communityId}
                            AND tfsr.deleted = 0
                        )
                        &gt;
                        (
                            SELECT count( tch.id ) FROM t_community_hardware tch
                            WHERE tch.community_id = #{userEntity.communityId}
                            AND tch.deleted = 0
                        )
                    )
                    WHEN TRUE
                    THEN 1
                    ELSE 2
                    END = 2
            </if>
            <if test="userEntity.houseId != null">
                AND thm.house_id = #{userEntity.houseId}
            </if>
            <if test="userEntity.relationCode != null">
                AND thm.relation = #{userEntity.relationCode}
            </if>
    </select>
</mapper>

