<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jsy.community.mapper.VisitorFaceSyncRecordMapper">
    <!-- 批量新增访客人脸同步记录 -->
    <insert id="batchInsertRecord">
        insert into t_visitor_face_sync_record (
            id,
            visitor_id,
            community_id,
            face_url,
            facility_id,
            create_time,
            update_time,
            deleted
        ) values
        <foreach collection="list" separator="," item="recordEntity">
            (
                #{recordEntity.id},
                #{recordEntity.visitorId},
                #{recordEntity.communityId},
                #{recordEntity.faceUrl},
                #{recordEntity.facilityId},
                #{recordEntity.createTime},
                #{recordEntity.updateTime},
                #{recordEntity.deleted}
            )
        </foreach>
    </insert>
</mapper>